[2020-09-09 10:31] smarie commented on #286
This is a great topic. I would love to be able to

 - reuse environments across multiple sessions
 - mark a session as dependent on other sessions to be executed first

However these two concepts should remain independent in my opinion (which is not the case in the related proposal #167 ). I can create a session B dependent on session A being executed first (and creating some results files) while

[2020-09-09 17:39] antonl commented on #260
That would be nice. One way to do this is to run something like `conda env export` and hash that, look for differences from creation. There is a problem though; if you `pip install` anything, that the environments will always compare not equal.

[2020-09-09 20:01] tswast commented on #260
This feels a bit outside of how `nox` is currently architected. Is there an FR to `conda` itself to be made here for a "fast env update" that does a faster check to see if any changes need to be made?

[2020-09-10 07:25] smarie commented on #260
not that I know unfortunately but I am not very familiar with the conda evolutions roadmap - I rather consider it as marginally evolving now

[2020-09-10 16:30] salotz commented on #260
I agree with this.

And yes doing anything with conda is painfully slow other than keeping the same env and jamming lots of crap into it one at a time whenever an import fails. Which I think is the intended use case (not for specifying groups of dependencies for specific purposes).

I'm actually just fine with the way things are and not having nox support them at all. Since there is a lot specific

[2020-09-11 12:11] smarie commented on #308
Concerning the first of the above bullet points, there could be some easy way to provide quick debugging capabilities in PyCharm and other IDEs: simply provide a `nox.run()` method accepting to receive the `noxfile.py` globals. This would make the `noxfile.py` module directly runnable from any IDE by including the following at the end:

[code]

Note: this idea is not actually from me but from doit

[2020-09-15 16:25] danieleades opened #347 "Using Nox with Poetry"
cross-posted to https://github.com/python-poetry/poetry/issues/2920

I've been trying to migrate an existing project to Poetry. It is using `Tox` to test a matrix of different package versions. The difficulties of trying to get Poetry and Tox to play nicely together for matrices of package versions is fairly well-documented (see https://stackoverflow.com/questions/59377071/how-can-i-get-tox-and-po

[2020-09-15 17:05] theacodes commented on #347
How does it modify the file?

On Tue, Sep 15, 2020 at 12:25 PM danieleades <notifications@github.com>
wrote:

[2020-09-15 17:18] danieleades commented on #347
the `poetry add` step is changing the version of the 'sphinx' package in the `pyproject.toml` file. Once the script exits, I then need to revert that change and regenerate the lockfile

for example if sphinx version is set to `3.0` in the pyproject.toml file, say, and I use "2.6" in my nox session, the file will have sphinx set to "2.6" when the nox script exits.

[2020-09-15 19:09] s0undt3ch opened #348 "No longer Py3.5 compatible"
**Describe the bug**
Contrary to what `setup.py` states, nox is no longer Py3.5 compatible.

**How to reproduce**
Try running under Py3.5

**Expected behavior**
Either drop 3.5 support or fix it.

[code]

[2020-09-15 20:31] danieleades commented on #347
To be clear, I'm **not** suggesting that nox is misbehaving!
Im simply wondering if this workflow can be supported today, or if there is interest in implementing it (either on the nox side, or the Poetry side)

[2020-09-15 20:34] theacodes commented on #347
We're definitely happy to support poetry use cases, I'm just not personally
familiar enough to know. Maybe we can get one of the poetry maintainers on
this thread to help out?

On Tue, Sep 15, 2020 at 4:31 PM danieleades <notifications@github.com>
wrote:

[2020-09-16 06:41] danieleades commented on #347
there are a couple of solutions proposed in https://github.com/python-poetry/poetry/issues/2920

I wonder what a first class API would look like?

- one solution is to clone the entire working directory to a temporary folder for each run. This is a nice general solution (though it's kind of the nuclear option). I could see Nox having a config flag to perform this step automagically
- the second pr

[2020-09-16 08:04] s0undt3ch commented on #348
So, it seems that it does not work with Python 3.5.2, which is the version of python that ships with ubuntu 16.04, which sadly, we have to test against...

[2020-09-16 08:08] s0undt3ch commented on #348
There's nothing the nox project should do to fix this.

[2020-09-16 08:08] #348 closed

[2020-09-16 18:18] danieleades commented on #347
@theacodes you can see the approach i'm attempting to use to restore the `pyproject.toml` and `poetry.lock` files after execution here - https://github.com/python-poetry/poetry/issues/2920#issuecomment-693575614

it's not working because wrapping nox in a `try/finally` block doesn't seem to work.

Is there anyway to cleanup code after a session with Nox? Effectively a 'teardown' function

[2020-09-18 08:06] mkokshoorn opened #349 "Allow session.install to be able to use installers other than 'pip'"
**How would this feature be useful?**

It would be very useful to be able to use other pip-like packages like 'pip_accel' (a layer on top of pip that handles package caching much faster (see [pip_accel](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwiwheG2nfLrAhXSs54KHVfrDAQQFjAAegQIBhAB&url=https%3A%2F%2Fpypi.org%2Fproject%2Fpip-accel%2F&usg=AOvVaw11LTvV5DylBo04zijD1IWC

[2020-09-18 15:04] smarie commented on #260
In my current project the reason why I can not use `nox` even if I would love to, is precisely this incremental+task dependency aspect ; this is why I end up using pydoit  like you. But since `doit` is a bit hard to get right and use efficiently, I use [`doit-api`](https://smarie.github.io/python-doit-api/). I encourage you to check it out ! (I'm the author :) )

[2020-09-19 06:53] danieleades commented on #349
Related- #347

[2020-09-19 18:44] lschmelzeisen commented on #336
Any statement/action on this? IMO this should be a relatively quick fix.

[2020-09-20 01:00] layday commented on #347
Sure it works - `dump` gets called on import, before the tests run ;P  You have to move the try block inside the session:

[code]

[2020-09-22 01:26] salotz commented on #260
@smarie oh cool! ya I haven't actually got into the meat of using doit for a lot of stuff yet. I agree that doit doesn't feel very pythonic, I'll check your thing out.

But relevant to envs (and this thread somewhat) maybe we can work together on getting an env manager similar to `nox` et al. (`dox`??). Looks like its out of scope and interest to `nox` project. Feel free to email me, I don't want

[2020-09-22 07:22] smarie commented on #260
@salotz thanks for the proposal and feedback! Unfortunately my bandwidth will be extremely limited in the upcoming months for family reasons - not really the time for opening large new projects :) . However I'll be happy to contribute with ideas/PRs if the ground is solid. Note that maybe the `nox` internal API is stable enough so that its environment management features can be reused as is - inde

[2020-09-22 19:37] salotz commented on #260
I wouldn't be starting soon either, but I'll DM you when/if I do. TBH there isn't too much wheel to reinvent. I think we can all coexist in peace since its fully developer side stuff. :)

[2020-10-05 12:43] danieleades commented on #347
i'm afraid this still isn't working

given this code-

[code]

the python interpreter used is always the one selected by Poetry, in my case 3.8.
I can't use this setup for testing a matrix of interpreter versions.
any ideas?

[2020-10-05 12:47] layday commented on #347
Yes, you should install Poetry and pytest with Nox.

[2020-10-06 21:24] cjolowicz commented on #347
Hi @danieleades would something like this work for you?

[code]

This will install and test your package with a specific sphinx version, using only the version constraints in the package metadata, not the lock file.

[2020-10-06 21:26] danieleades commented on #347
I did get this working in the end! With the original solution. I suspect it was working all along ...

[2020-10-13 05:37] omry opened #352 "windows + conda : nox using an interpreter that does not exist"
This is probably related to some change in my CI, but I am having a hard time figuring it out.

**Describe the bug**
nox is trying to use a Python interpreter that is not there:
[code]

**How to reproduce**
This is only happening in CircleCI, so I am not sure what is actually causing it (I tested on Windows 10 with conda and it works there).
It was also working fine until it broke without any appa

[2020-10-20 13:36] drewgilliam commented on #352
FYI - conda and virtualenv 20.0.34 aren't playing well together.  see https://github.com/pypa/virtualenv/issues/1986 and https://github.com/ContinuumIO/anaconda-issues/issues/12094

[2020-10-20 16:01] omry commented on #352
This explains it, thanks @drewgilliam.
One of the comments suggest `virtualenv==20.0.33` as a workaround, I will give it a shot as a temporary solution.

[2020-10-22 14:56] asmodehn opened #353 "how about a `--watch` option ?"
**How would this feature be useful?**
Having `nox` running in the background would provide immediate feedback while coding.

**Describe the solution you'd like**
`pytest-watch` implements this for `pytest`. The point is to implement this feature at the `session` level so any session can be run in the background... it might make sense for some sessions, but not others...
So maybe have a combination

[2020-10-29 12:01] P403n1x87 opened #354 "Nox fails to create Python 3.9 virtual environment on Travis bionic images"
**Describe the bug**

I have recently added Python 3.9 to the Travis configuration of some of my projects. Nox works fine for Python 3.6-3.8, but for 3.9 I get a failure (probably related to virtualenv)

[code]

(source: https://travis-ci.org/github/P403n1x87/austin-tui/builds/739886625)

**How to reproduce**

Nox file at https://github.com/P403n1x87/austin-tui/blob/ci/venv_39/noxfile.py
Travis CI

[2020-10-29 23:02] P403n1x87 commented on #354
Fixed by installing python3.9-venv.

[2020-10-29 23:02] #354 closed

[2020-11-03 03:07] bjlittle commented on #346
@mforbes and @smarie I've just discovered `nox`, and it's really pretty awesome! Congratulations :100: :tada:

I'd love to be able to create a conda environment based on an `environment.yml` so it would be great to know if this issue will mature into a pull-request?

[2020-11-09 18:48] rkube opened #355 "nox can't create virtualenv"
Hi,
I've start to explore using nox for a project. I've got a simple configuration file:
[code]

and run nox like this:
[code]

Doing this, I'm getting a BlockingIOError:
[code]

Does anyone know what is going on here?

[2020-11-13 15:08] cjolowicz opened #356 "nox.options.pythons ignored when nox.options.sessions is present"
**Describe the bug**

When both `nox.options.sessions` and `nox.options.pythons` are specified in `noxfile.py`, the latter setting is ignored.

**How to reproduce**

[code]

Run `nox` without options.

**Actual behavior**

- The tests session is run on Python 3.9 and 3.10.
- The launch_missiles session is not run at all.

[code]

**Expected behavior**

- The tests session is run on Python 3.9.
- T

[2020-11-13 16:00] cjolowicz opened #358 "nox.options.sessions ignored when --pythons is passed"
**Describe the bug**

When `nox.options.sessions` is specified in `noxfile.py` and `--pythons` is passed on the command-line, the setting in the `noxfile.py` is ignored.

**How to reproduce**

[code]

Run `nox --python=3.10`.

**Actual behavior**

- The tests session is run on Python 3.10.
- The launch_missiles session is run on Python 3.10.

[code]

**Expected behavior**

- The tests session is r

[2020-11-13 16:26] #356 closed

[2020-11-14 03:29] #358 closed

[2020-11-14 06:15] V1NAY8 commented on #355
For each `nox` session you need to install flake8. add the following line
`session.install("flake8")`

- It was working fine for me in `virtualenv` and running the same above code.

- If you are using `conda`, can you create a new conda environment and try the same again?

- Also you can try rolling back to python 3.8.6 and doing the above because it works. :)

[2020-11-19 14:06] pradyunsg commented on #95
This can be closed, given #304 is merged?

[2020-11-19 16:49] theacodes commented on #95
Yup, thanks.

[2020-11-19 16:49] #95 closed

[2020-11-19 16:50] theacodes commented on #355
Yeah, that's my guess as well. I'm going to go ahead and close this but if it's something else I'm happy to re-open.

[2020-11-19 16:50] #355 closed

[2020-11-19 16:51] theacodes commented on #352
For now we'll just wait for virtualenv to fix this unless y'all think we can do anything here to mitigate.

[2020-11-19 16:51] #352 closed

[2020-11-19 16:52] theacodes commented on #353
I wonder why this is? I would definitely prefer not to add more dependencies and complexity to Nox if it can be helped.

[2020-11-19 16:55] theacodes commented on #349
I think for now I'd prefer that you use `session.run_always` for commands for other installers. Happy to continue discussing if that doesn't work for you.

Closing for now, though.

[2020-11-19 16:55] #349 closed

[2020-11-19 16:56] theacodes commented on #347
Is this still a bug? Should I keep this open? It doesn't seem like there's anything left to resolve here, so I'm going to close for now but I'm happy to re-open if there's still more work to do.

[2020-11-19 16:56] #347 closed

[2020-11-19 16:56] theacodes commented on #346
Closing in favor of #260

[2020-11-19 16:56] #346 closed

[2020-11-19 16:57] theacodes commented on #260
There's a solution proposed here: https://github.com/theacodes/nox/issues/346#issue-695644289

I'm still happy to review a PR, but again, I don't know enough about conda so it's really up to y'all. :)

[2020-11-19 17:00] theacodes commented on #340
Alright, coming back to this I'd be willing to review a PR that:

1. Prints out a warning when interpreters are skipped saying that you might want to use `--error-on-missing-interpreters` **and** that this will **fail by default** on CI systems.
2. Makes `--error-on-missing-interpreters` default to on for non-interactive sessions.

[2020-11-19 17:01] theacodes commented on #336
I'd be happy to review a PR for this. :)

[2020-11-19 20:23] mforbes commented on #260
I am still playing with `condo env update` to see if it is reliable... will try to pull together a PR at some point, but have other looming deadlines so this probably won't be until the new year.

[2020-11-20 00:18] crwilcox commented on #158
@pradyunsg I am going to take some time tomorrow and see about this.

[2020-11-20 11:25] asmodehn commented on #353
I tried to find a bit more information about this.
As a starting point, testing `watch --color` with `ls` :
- `watch --color ls -ahl --color` is colorized
- `watch --color ls -ahl` is not colorized
- `ls -ahl` is colorized
- `ls -ahl --color` is colorized

This makes sense, because it turns out my `.bashrc` has aliases by default (ubuntu) : `alias ls='ls --color=auto'` which are not in effect when

[2020-11-20 11:58] cjolowicz commented on #353
@asmodehn You could also try to run Nox when source files have changed. There are many general-purpose (but somewhat platform dependent) programs out there that help you do this. One example would be [entr]:

[code]

[entr]: https://github.com/eradman/entr

[2020-11-21 10:45] asmodehn commented on #353
@cjolowicz Thanks for the mention of entr, I didn't know about it.

But if I were to go that route, I'd rather write a small `nox-watch` wrapper python script, relying on https://github.com/gorakhargosh/watchdog or https://github.com/dsoprea/PyInotify
Currently not really needed for my usecase, but who knows, that day might eventually come ;-)

[2020-11-21 19:59] #336 closed

[2020-11-21 21:24] mkokshoorn commented on #349
That will work will! I hadn't seen that one, thanks!

[2020-11-22 16:48] V1NAY8 commented on #288
@liiight  Was just taking a look at this, I am thinking nox has to nothing to do here. Tell me If that's not the case 😃

- Is `smoke_test and dlp` is this a single package or folder name in your project ?

- Also Is it successful when you run just ?
`python -m pytest -m 'smoke_test and admin_console' --reruns 3 --selenium-timeout 30 --collect-only --jira --jira-password $SHIELD_JIRA_PASSWORD --jir

[2020-11-23 04:47] V1NAY8 commented on #307
Looks like this can be closed now. :)

[2020-11-23 04:58] #307 closed

[2020-11-28 08:41] shadycuz opened #365 "Feature: Force python version override from the CLI."
**How would this feature be useful?**
I created my python module for use with `python >=3.7`. Unfortunately, I had some dependency issues with `python3.7` so I skipped it for the time being. Most of my sessions in noxfile.py look like:

[code]

I now think I have fixed the dependency issues and would like to run all my nox sessions against `python3.7`.  Running `nox -p 3.7` instantly returns with

[2020-11-28 14:23] cjolowicz commented on #365
When #361 is merged you will be able to force a Python version using `nox -p 3.7 --extra-python=3.7`. This is backwards-compatible like your `strict` flag idea, but does not require the `noxfile.py` author to opt-in. Which sessions should be skipped for extra Pythons is still a point under discussion. One idea is to skip sessions declared without a `python` keyword. In the remaining cases, you wou

[2020-11-28 14:35] shadycuz commented on #365
Yeah I think this would address my use case. When I'm needing to use an extra python I would just make sure to specify the exact sessions I want.

Thanks =)

[2020-11-28 14:35] #365 closed

[2020-11-29 09:51] liiight commented on #288
No, these are two distinct markers (note the preceding `-m`)

Yes it is. Also, note that the nox invocation works as expected on macOS but fails to do so when running on linux. I imagine this is some obscure shell issue, but I was unable to make it run vi linux no matter what I tried.

[2020-11-30 21:50] stsewd opened #368 "Migrate from travis-ci"
Now that travis cut the number of builds for open source projects, builds are very slow. I think moving to github actions should be good?

[2020-11-30 21:54] theacodes commented on #368
Sounds good. I don't have the time to do this right now, but if anyone else
wants to jump on it that'd be awesome 😊

On Mon, Nov 30, 2020, 4:50 PM Santos Gallegos <notifications@github.com>
wrote:

[2020-12-01 21:45] itsayellow commented on #262
This does have a concrete benefit.  On Windows, `pip install --upgrade pip` will fail (because Windows won't allow pip to be uninstalled if its binary is being used) but `python -m pip install --upgrade pip` succeeds fine.

pipx recently had to switch its noxfile statement from
[code]
to
[code]
Because the original would crash if Windows actually needed to upgrade pip.
https://github.com/pipxproje

[2020-12-02 10:53] Wenzel opened #369 "SIGINT handling: nox kills the process before it has a chance to finish cleaning up"
**Describe the bug**
When receiving a `SIGINT`, nox terminates the app immediately.
Therefore the app doesn't have a chance to cleanup, and the context managers release resource code are skipped.

**How to reproduce**

Simple example
[code]

`foobar/__main__.py`
[code]

`noxfile.py`
[code]

**demo without nox**
[code]
:arrow_up: here the context manager cleanup code has the time to execute, `done

[2020-12-19 22:14] Tolker-KU opened #372 "Conda backend messing up access rights to base conda env on Windows"
**Describe the bug**
When running a session the second time with conda as backend and not reusing the environment, the conda environment created by nox is deleted using shutil. Deleting a conda environment not using conda env remove results in conda going nuclear and messing up all sort of permissions on files on Windows. This includes files in the base conda environment.

I would suggest that a c

[2020-12-28 23:53] #262 closed

[2020-12-29 02:13] stsewd commented on #309
@xiaohuazi123 does this print `latin-1` in your system?

[code]

If so, we could use that instead of harcoding to utf-8.

[2020-12-29 02:34] stsewd commented on #289
This was solved in https://github.com/theacodes/nox/pull/323

[2020-12-29 02:34] #289 closed

[2020-12-29 02:37] stsewd commented on #303
This was done in https://github.com/theacodes/nox/pull/306

[2020-12-29 02:37] #303 closed

[2020-12-29 23:09] #158 closed

[2020-12-29 23:21] crwilcox commented on #365
@shadycuz #361 is merged :)

[2020-12-31 08:40] #372 closed

[2021-01-11 19:09] staticdev commented on #88
tox have -p option (which works ok), how about using the same approach for output instead of reinventing the wheel?

[2021-01-28 09:25] Wenzel commented on #369
hello,

asking again on this issue, @theacodes if you wish to comment maybe ?
do you need a more detailed explanation of the problem ?

Thank you !

[2021-01-28 11:57] cjolowicz commented on #139
Just adding another use case here...

This behavior also appears to break `pytest --pdb`. For example, when debugging something like intermittent deadlocks, ^C terminates pytest instead of dropping you into pdb.

[2021-01-31 14:45] brechtm opened #379 "Current state of Windows support"
Because tox has surprised me with some very confusing behavior lately, I was looking into converting my project to use Nox instead. Initial experiments have been very pleasant. However, one paragraph in the manual makes me wonder about the state of Windows support. It mentions _"Nox has provisional support for running on Windows."_, and then links to some tox, Python and virtualenv tickets.

Since

[2021-01-31 16:47] stsewd commented on #379
Just linking to the docs section https://nox.thea.codes/en/stable/usage.html#windows.

So, I've seen some PRs been merged to improve the windows support since last year (or maybe more?). Personally I don't use windows, so I can't say everything works fine, but the test suite runs on Windows as well https://github.com/theacodes/nox/blob/master/appveyor.yml.

[2021-01-31 17:57] theacodes commented on #379
Windows should work fine at this point, we can probably remove that from
the docs.

On Sun, Jan 31, 2021, 11:47 AM Santos Gallegos <notifications@github.com>
wrote:

[2021-02-01 21:15] Cielquan commented on #309
I have got the same problem at another place. My Github Actions workflow fails because of this issue. The strange thing is that at one repo it works and at another it fails. The nox config differs a bit, but the part where it fails is the same command.

The job runs on all three os (ubuntu, macos, windows) and only windows fails.

[Working repo CI example](https://github.com/Cielquan/python_test-c

[2021-02-02 10:03] Cielquan commented on #309
According to my findings above and in consideration of the above table I would presume that there are 2 solutions to this problem:

1) use `sys.stdout.encoding` instead of hard coded "utf-8"
2) use `locale.getpreferredencoding` instead of hard coded "utf-8"

I think the first one would be the better option? My reasoning is that you ask for the encoding of stdout where your goal is to print to.

[2021-02-02 21:09] Cielquan commented on #309
@stsewd I opened a PR if you want to take a look.

[2021-02-08 00:13] pszynk opened #381 "pyenv - missing interpreters should be skipped"
This is pretty much the same scenario as described in #252.
Problem shown by @florimondmanca is still present and the solution he presented isn't necessarily the desired outcome for every use-case.

**Expected behavior**

Only `local` python interpreter versions should be considered when using `pyenv local`.

**Actual behavior**

If we add python interpreter with `pyenv global 3.6.12` (for example

[2021-02-08 01:01] theacodes commented on #381
Let's re-open the previous issue instead of opening new ones.

[2021-02-08 01:01] #381 closed

[2021-02-08 01:04] theacodes commented on #252
@pszynk brought up that Nox's behavior with pyenv may not be correct:

@pszynk to make sure I understand your issue correctly, you want Nox to not use any of the global pyenv interpreters if local pyenv interpreters are configured?

[2021-02-08 15:41] KyleKing commented on #379
I've started using nox on Windows. My configuration has poetry and conda. I would be happy to help try to replicate any Windows-specific problems if they arise

The three related tickets linked in the documentation appear to be resolved and there hasn't been an update since ~2015. The recommended fix was to pass `shell=True` or otherwise ensure that the custom environment was properly configured f

[2021-02-08 15:49] theacodes commented on #379
Cool, seems we should just update our docs to remove that section. :3

On Mon, Feb 8, 2021 at 10:41 AM Kyle King <notifications@github.com> wrote:

[2021-02-10 17:56] #379 closed

[2021-02-10 19:19] brettcannon opened #383 "Simplify the execution of commands when an extra is already defined that lists the expected dependencies"
**How would this feature be useful?**
I can define my e.g. testing dependencies in one place and then have all of my tooling that I run locally -- both on the command-line and via my editor -- and in CI pull from the same dependency spec.

The goal is for the common test/build/lint steps in Nox to be nothing more than specifying the command to execute, while dependency specification lives in the p

[2021-02-10 19:24] brettcannon opened #384 "Provide a way to read `requires_python` from a project's settings"
**How would this feature be useful?**
Instead of having to specify what versions of Python are supported both in project metadata and in my `noxfile.py` , read it from the project metadata to infer what versions are supported.

This may require PEP 621 to gain traction before it's feasible.

**Describe the solution you'd like**
Some way to say, "use `requires_python` to know what versions of Pytho

[2021-02-10 19:24] pszynk commented on #252
@theacodes first of all thanks for your contribution, this is a great project.

Sorry I didn't make myself clear and for the delayed response. I needed some time to investigate my issue.

My conclusions:

###  1.  Why did I get a `RuntimeError` when running nox:

[code]

This is due to my misuse of `pyenv` + `pyenv-virtualenv` (or a bug perhaps). One of `pyenv` managed virtualenvs had a symbolic l

[2021-02-10 19:31] theacodes commented on #383
Cool, so the idea is to have a command that can just process a pep 621 `pyproject.toml` and do the right thing?

[code]

We could have some customization here:

[code]

[code]

Or am I misunderstanding?

[2021-02-10 19:39] theacodes commented on #252
I'm not sure I really understand how this is an issue? Nox looks at the
path to discover pythons on unixes, and if it's on the path it's fair game.
I don't see how that's inconsistent with virtualenv's behavior? Can you
show me a case where Nox files pyenv's interpreter but virtualenv doesn't?

On Wed, Feb 10, 2021 at 2:24 PM pszynk <notifications@github.com> wrote:

[2021-02-10 20:49] brettcannon commented on #383
Nope, you got it!

[2021-02-10 21:43] pszynk commented on #252
The example would be the original issue.

When you install new `pyenv` interpreter and not make it `local` or `global`, `nox` thinks it has found the interpreter path, when in fact it's just found the shim.  That's why the `virtualenv` logs the error and session fails:
[code]
I was mistaken about what really happens behind the scenes and I've fixed this in my previous comment.

But the point is th

[2021-02-11 03:24] theacodes commented on #252
I reproduced the described behavior, but I'm still a little unsure on a few points.

Does it, though? Nox invokes `virtualenv` directly to create the virtualenv with the given interpreter version & I don't see *any* difference between their behavior in this case:

[code]

[code]

Nox and Virtualenv are consistent here. So I'm not sure what we should do. We can try to detect pyenv stubs that are in

[2021-02-11 09:36] pszynk commented on #252
What about this example:

`virtualenv` failes
[code]

`nox` skips
[code]

If `virtualenv` is used to create the virtual environment, why should `nox` be concerned with resolving the interpreter? `virtualenv` does it anyway. 'nox' could leave this job to `virtualenv` and really would need to discover interpreter only when bare `-m venv` is to be used.
Skip the session if `virutalenv` failed to disc

[2021-02-11 21:09] #309 closed

[2021-02-11 21:11] theacodes commented on #252
Virtualenv isn't our only backend, so that's one compelling reason why we do the lookup ourselves.

We can modify Nox to detect pyenv stubs that aren't available and skip those sessions. That should resolve this issue for now.

Sure, it could be, but presently it is not.

[2021-02-11 23:23] theacodes opened #385 "FYI: Nox's master branch has been renamed to main"
This just an informational issue to notify for maintainers and contributors.

[2021-02-11 23:24] #385 closed

[2021-02-11 23:28] theacodes commented on #369
@Wenzel acknowledged. Please remember that this project is maintained solely by volunteers so we don't have any guaranteed response or resolution time.

This is a duplicate of #139.

[2021-02-11 23:28] #369 closed

[2021-02-11 23:30] theacodes commented on #139
This could resolved by modifying [this code](https://github.com/theacodes/nox/blob/211702da6112cf390b50b807ff1ebdaf844f73e2/nox/popen.py#L59-L62) to pass an interrupt signal to the child process instead of just killing it outright. We should, however, make sure to have some reasonable timeout and kill the child process if it hangs.

[2021-02-11 23:33] Wenzel commented on #369
Sure, I didn't wanted to be perceived that way, just that this bug might have nasty consequences for your end users.

thank you for your time :pray:

[2021-02-14 02:40] drhagen opened #387 "Make site packages directory available in session"
**How would this feature be useful?**
Tox has a magic variable called [`envsitepackagesdir`](https://tox.readthedocs.io/en/latest/config.html#substitutions-for-virtualenv-related-sections) that evaluates to the `site-packages` directory of the environment. This is particularly useful for telling coverage where my package is, when I have installed my package into the environment.

**Describe the so

[2021-02-14 02:51] theacodes commented on #387
I like it. What does tox do to determine the location?

It's totally valid for us to use `nox.popen` to invoke the session's interpreter to grab the site-packages directory, we should just be sure to cache it.

[2021-02-14 02:53] theacodes commented on #387
Some prior art of us using `py.path.sysexec` to interrogate the python interpreter: https://github.com/theacodes/nox/blob/db6378377a58dd678518b1fc1c50fb3c49dbb98a/nox/virtualenv.py#L137

[2021-02-14 11:34] drhagen commented on #387
tox does it like you recommended with [popen](https://github.com/tox-dev/tox/blob/4b445849469699717cca324fa4d61f31141ec287/src/tox/interpreters/__init__.py#L49).

What is your preferred style for cached properties? I could use [cached-property](https://pypi.org/project/cached-property/) or do it manually.

[2021-02-14 14:48] FFY00 commented on #334
FYI this didn't end up in pypa/packaging because nobody wanted to actually commit to that, so as of the latest release it is now in pypa/build, see https://pypa-build.readthedocs.io/en/stable/api.html#build.check_dependency. It uses importlib.metadata and pypa/packaging to validate the requirement strings so it should be pretty fast, much faster than pip.

The only issue I see with adding this is

[2021-02-14 17:44] theacodes commented on #387
We prefer not to add new dependencies, so just do it manually.

On Sun, Feb 14, 2021, 6:35 AM David Hagen <notifications@github.com> wrote:

[2021-02-14 19:31] drhagen commented on #387
The more I look into this, the more I think that tox's `envsitepackagesdir` is usually an anti-pattern, at least for my purpose of determining where my package is. This is actually not valid in the case where I don't install my package, but my package is still importable because I don't have a `src` directory. I think the correct way to do this is to run this script in the environment:

[code]

I

[2021-02-14 19:50] cjolowicz commented on #387
@drhagen Just curious, I usually have something like the following in my coverage configuration:

[code]

(I guess you'd replace `src` by the name of your package.)

This configuration does not depend on the exact location of the virtual environment. Wouldn't that solve your use case, or am I missing something here?

[2021-02-14 20:22] drhagen commented on #387
[`tool.coverage.paths`](https://coverage.readthedocs.io/en/coverage-5.4/config.html#paths) merely controls which paths are considered equivalent for the purpose of reporting. It does not control which files actually get coverage measured. For that, you have to pass `--source` or, in the case of `pytest-cov`, `--cov`.

[2021-02-14 20:43] cjolowicz commented on #387
Oh I see. But `--source` does accept package names. So couldn't you just specify your package name in [tool.coverage.run.source](https://coverage.readthedocs.io/en/coverage-5.3/source.html#execution)?

[2021-02-14 21:01] drhagen commented on #387
Oh my goodness, it does work. I've been doing this wrong for years. Well, this feature is clearly not needed.

[2021-02-14 21:01] #387 closed

[2021-02-15 09:44] cjolowicz commented on #99
I'd be interested in picking this up.

[2021-02-15 23:23] theacodes commented on #99
Go for it.

On Mon, Feb 15, 2021 at 4:45 AM Claudio Jolowicz <notifications@github.com>
wrote:

[2021-02-20 18:15] #99 closed

[2021-02-26 21:11] rmorshea opened #391 "Pass positional arguments to specific sessions"
# The Problem

One issue with the way positional arguments work right now is that they are shared between all sessions.

- **For some use cases this makes sense**: a `--debug` flag could be a piece of global information that all sessions would want to know about.
- **In others though it does not**: I might want to pass extra positional arguments through to a specific `session.run` command that do

[2021-02-27 16:41] theacodes commented on #391
I'm kinda neutral on this. I don't want to complicate Nox's invocations any further, but I can also see the utility in this. I also pathologically avoid long command invocations since it's easy to forget them.

I *think* an alternative I might prefer is to have a session that runs the others with the args:

[code]

We'd have to modify `notify` to take posargs to pass along.

[2021-02-27 17:56] rmorshea commented on #391
That seems reasonable. Like you said most people aren't usually going to remember commands with many arguments. However when it's required, those commands are usually codified in a dedicated script. This `notify` idea mimics that rather nicely and would solve my use case.

[2021-02-27 18:08] theacodes commented on #391
Cool, I think that should be a rather straightforward change, so if someone
wants to take it on, go for it!

On Sat, Feb 27, 2021, 12:56 PM Ryan Morshead <notifications@github.com>
wrote:

[2021-02-27 21:28] cjolowicz commented on #391
I have a similar, yet different use case, where I'd like to *avoid* passing
session arguments to a notified session.

What would you think about giving `session.notify` a keyword argument `posargs`,
where `None` (the default) is the current behavior, and anything else would set
`session.posargs` as specified? Then we could pass `[]` or `()` to prevent the
notified session from seeing arguments tha

[2021-02-28 03:07] theacodes commented on #391
Sounds good to me.

[2021-02-28 03:52] rmorshea commented on #391
@theacodes I'm not seeing how `posargs` would get passed from `notify` to the session. Is this is the core section of code that will need to change? https://github.com/theacodes/nox/blob/a078d3cc82c09a3af068d7c9d230364ba5adefbb/nox/manifest.py#L260-L289

[2021-02-28 08:50] cjolowicz commented on #391
Would it make sense to give `SessionRunner` an attribute `notify_posargs`
(initially None) and set that from `Manifest.notify`? Then you could return it
from `Session.posargs` if it's not None, and fall back to current behavior
otherwise.

[2021-03-01 13:55] danieleades opened #392 "Exclude combinations from parametrized matrix builds"
I'm using the `@parametrize` decorator to create a build matrix, but i've got certain combinations I wish to exclude.

right now i'm using a little escape hatch

[code]

would be nice if Nox could provide an API for adding or removing 'cells' from the matrix (similarly to what you can do with github actions)

[2021-03-01 14:07] danieleades commented on #347
if anyone stumbles upon this, I've got a working implementation, integrated with a github action here - https://github.com/danieleades/sphinxcontrib-needs/actions

[2021-03-01 16:32] theacodes commented on #392
Hmm. How would you like this to work from the command-line perspective?

[2021-03-01 17:01] danieleades commented on #392
I've not really thought about what the API would look like. Can you clarify what you mean by "from the command-line perspective"?

I would think if you try to run a particular session from the command line that is in the 'excluded' list it would behave the same way as if you specified a session that was entirely outside your `parametrize` range. Having said that, a slightly helpful warning/error w

[2021-03-01 17:34] danieleades commented on #392
just to add to that, one workaround would be to have multiple test functions, and manually exclude the cases you weren't interested in.

If i reuse the sketch above it would look something like this-

[code]

but it's a little bit ugly, and it's not going to be as easy to stick in a github action. If you have a single 'tests' function, then you can do

[code]

now you can already exclude cases fro

[2021-03-02 08:42] danieleades commented on #392
I had a quick look at the decorators, I don't imagine it would be too difficult to implement these proposed decorators as essentially filters to the `Params` list.
*Most* of the warnings i listed above would be easy enough too, except for warning on overlap 'include' + 'exclude'. That would take some thought. I guess you'd have to thread some metadata through the decorators to track that informati

[2021-03-03 18:33] danieleades commented on #392
I've got a working draft of these decorators. Would like to know if

1. this is of interest
2  what the desired API would look like

Before investing too much more time

[2021-03-04 13:58] smarie commented on #392
I think that the most convenient way would be to provide a "build matrix" dictionary, where

 - the key is the session final id
 - the value is a dictionary containing at least a "python=xx" entry, and the rest of the dictionary should correspond to the parametrized arguments.

For example I have a current code working with :

[code]

[2021-03-04 14:45] cjolowicz commented on #392
I'd just like to note that `nox.parametrize` is already expressive enough to handle a sparse build matrix:

[code]

So the issue is not expressivity. It's the fact that `nox.parametrize` cannot set session attributes such as the Python interpreter.

I'm not proposing to start treating parameters named "python" in a special way. To start with, that would not be backward compatible. Would it make se

[2021-03-04 15:11] theacodes commented on #392
However we approach this, the API should match [pytest](https://docs.pytest.org/en/stable/example/parametrize.html) as much as possible.

For example [`pytest.param`](https://docs.pytest.org/en/stable/example/parametrize.html#set-marks-or-test-id-for-individual-parametrized-test) is used to set meta attribute such as the test ID.

Nox has *implicit* parameterization on the Python version, so it mi

[2021-03-04 15:14] smarie commented on #392
I like this idea !

[2021-03-04 15:28] cjolowicz commented on #392
To make this a bit more concrete, these two would be equivalent:

[code]

Not sure if `sessionparams` is useful for anything but the Python version at the moment.

Agreed. Is there some primitive in the pytest API that assigns metadata to the params themselves? IIUC, `pytest.param` applies to the individual values passed through the params.

[2021-03-04 19:04] #139 closed

[2021-03-05 11:20] smarie commented on #392
Not that I know. Not sure that you can do much better than your proposal here :)

It would be great to support the following use cases related to the session documentation (currently from the function docstring):

 - modify the session documentation explicitly thanks to a `doc` arg in `session` (that would be propagated from the parametrize through `sessionparams`)

 - accept that the docstring is

[2021-03-05 17:54] cjolowicz commented on #392
@theacodes Should we give this a go?

@danieleades How do you feel about the approach of allowing `nox.parametrize` to set the Python interpreter? Since you've already put work into this, would you like to take a stab at implementing it (if @theacodes is happy with it)? Give a shout if you'd like any pointers :)

@smarie

Currently, `nox -l` prints the session signature followed by the first line

[2021-03-05 18:45] theacodes commented on #392
Give it a go, I'm cool with it as long as it doesn't break existing
noxfiles.

On Fri, Mar 5, 2021, 12:55 PM Claudio Jolowicz <notifications@github.com>
wrote:

[2021-03-05 19:10] emilmelnikov opened #394 "Add an option to skip install commands"
**How would this feature be useful?**
Frequently you just want to re-run a particular session in a reused virtual environment as quickly as possible (e.g for unit tests, docs or linting). This is possible with `--reuse-existing-virtualenvs`, but `session.install()` still takes a second or two, which is not a lot, but still slower than just running `pytest` directly. Therefore, it would be useful t

[2021-03-05 20:45] smithfred opened #395 "parametrize doesn't work as expected with multiple Python versions"
Given the following:

[code]

I can run `nox -s test` and Nox will run `test-3.8` and `test-3.9`.

However, given the following:

[code]

I cannot then run `nox -s "test(foo='bar')"` and have Nox run `test-3.8(foo='bar')` and `test-3.9(foo='bar')`.

[2021-03-05 20:52] smithfred opened #396 "Double-quotation marks aren't accepted for parametrised sessions"
Given the following:

[code]

I'd expect to be able to run the test with a given value by calling either `nox -s "test(foo='bar')"` or `nox -s 'test(foo="bar")'`, since single and double-quotation marks are equivalent in Python generally.

However, the latter form (or similar variations) fails.

Being able to use either is useful in terms of managing shell variable expansion etc.

[2021-03-05 20:59] theacodes commented on #395
This is expected behavior. You can explicit ask nox to just run with one of
the interpreters.

On Fri, Mar 5, 2021, 3:45 PM smithfred <notifications@github.com> wrote:

[2021-03-06 23:22] ichard26 commented on #368
Hey, just a little ping that this should be closed as it's been completed by GH-389. My apologies if I'm mistaken.

[2021-03-07 01:44] stsewd commented on #368
Yeah, this can be closed. Thanks!

[2021-03-07 01:44] #368 closed

[2021-03-07 04:47] theacodes commented on #394
Sounds good to me. Seems like we should add the `--no-install` flag.

[2021-03-07 04:48] theacodes commented on #396
This should be pretty straightforward if we normalize the quotes for the `--session` arg.

[2021-03-07 04:49] #395 closed

[2021-03-07 04:55] #338 closed

[2021-03-07 04:55] #322 closed

[2021-03-07 04:56] theacodes commented on #329
I think for now I'm -1 on including this, and no other maintainers have chimed in. Happy to change my mind if other folks have thoughts, but for now I'm going to close this.

[2021-03-07 04:56] #329 closed

[2021-03-07 04:56] #319 closed

[2021-03-07 04:59] theacodes commented on #308
I think for now supporting direct debugging of Nox's internals isn't something we want to document for end users, but if someone is willing to pick this up and write the docs, I'll be happy to review.

[2021-03-07 04:59] #308 closed

[2021-03-07 05:00] theacodes commented on #305
I'm all for this and it would be a good first issue for someone to tackle

[2021-03-07 05:02] theacodes commented on #167
I like the solution proposed at https://github.com/theacodes/nox/issues/286#issuecomment-689474925

[2021-03-07 05:02] theacodes commented on #286
Closed in favor of #167

[2021-03-07 05:02] #286 closed

[2021-03-07 05:03] theacodes commented on #288
I think this is a shell issue and not a Nox issue, so I don't think there's anything we can do here.

[2021-03-07 05:03] #288 closed

[2021-03-07 05:07] theacodes commented on #278
I'd be in support of us adding the ability to set the id for sessions. Related: #392

[2021-03-07 05:08] theacodes commented on #273
It seems like this hasn't moved in a while, so I'm going to close it for the time being.

[2021-03-07 05:08] #273 closed

[2021-03-07 05:11] theacodes commented on #253
I'd be happy to review a PR that implements the design in https://github.com/theacodes/nox/issues/253#issuecomment-542556240

[2021-03-07 05:12] theacodes commented on #246
This issue has gone stale. I'm going to close it, but if there's still interest in this I'm happy to re-open.

[2021-03-07 05:12] #246 closed

[2021-03-07 05:13] theacodes commented on #238
This issue has gone stale and I don't think there's anything actionable for us to do here. I'm going to close it, but if there's still something worth looking into feel free to comment and I'll re-open.

[2021-03-07 05:13] #238 closed

[2021-03-07 05:16] theacodes commented on #149
Travis & AppVeyor have fallen out of favor, so I'm closing this for now.

[2021-03-07 05:16] #149 closed

[2021-03-07 05:17] theacodes commented on #88
Closed in favor of #198

[2021-03-07 05:17] #88 closed

[2021-03-07 05:18] theacodes commented on #234
This issue has gone stale, so I'm going to close it for now. If it's still something someone is interested in, feel free to comment and we can re-open.

[2021-03-07 05:18] #234 closed

[2021-03-07 05:20] theacodes commented on #72
We have some of this in #320, this just makes it higher-level by having a directory that is shared across sessions *and* persists between Nox runs.

[2021-03-07 08:12] staticdev commented on #198
@obestwalter interesting I just new about [pytest-xdist](https://pypi.org/project/pytest-xdist/).

@theacodes Couldn't session.background just spawn a thread like in here?
https://github.com/tox-dev/tox/blob/master/src/tox/session/commands/run/parallel.py

[2021-03-07 16:55] jamandbees commented on #394
I'm interested in seeing if I can figure this out 🙂

[2021-03-07 19:20] jamandbees commented on #394
I added what seemed like the right options change in the branch at https://github.com/PlayTechnique/nox/tree/394-add-no-install-flag

I started getting test failures in `tests/test_main.py`. They all stem from the same method:

[code]

I inspected the options in the `self.options.values` collection and compared the `install_only` and `no_install_only` options to another option collection that's bu

[2021-03-07 22:52] jamandbees commented on #394
Aha! I see! I updated the noxfile to add some additional arguments to pytest

[code]

I then ran the nox command from CONTRIBUTING.md and got a couple of additional clues. First, the native stacktrace:
[code]

Then I tried inspecting the namespace object to see what attributes _are_ there. The Namespace docs seemed to say that the `vars()` idiom should dump that info:

[code]

I could see that my

[2021-03-07 22:56] t-eckert commented on #396
@theacodes, I will take this one, but I will need some help. I have a fork and a branch. I started digging into the code for the first time. I _think_ what I need to do is modify code in the `tasks` module, but I could use some guidance to get on the right track.

Thank you!

[2021-03-07 23:01] jamandbees commented on #394
Next, I just need to work out how to execute nox from inside its directory, so I can verify the option's presented in the help etc and that it's doing something.

[2021-03-07 23:16] jamandbees commented on #394
Oh! I think I misunderstood the original request! It's not just for a negation of `--install-only`, that may have only been an example of the kind of thinking that emilmelnikov was thinking of.

[2021-03-08 02:19] theacodes commented on #396
Yeah, I'm thinking that you'll need to normalize the user-provided session names either [here](https://github.com/theacodes/nox/blob/main/nox/tasks.py#L129) or [here](https://github.com/theacodes/nox/blob/main/nox/manifest.py#L110). I feel like the latter is probably the more logical location.

[2021-03-08 06:06] t-eckert commented on #396
Ok, I think I will squeeze it into the line above where the session is appended to the `queue`. For "normalization"... I could write a function that checks if the string begins with a single quote then just swap every single to double or vice versa. I worry I would miss an edge case or change something unintentionally (a contraction perhaps (though unlikely)).

Is there a more elegant way to do th

[2021-03-08 08:14] sambarluc commented on #253
Unlikely that I find the time any time soon, sorry.

[2021-03-08 09:17] cjolowicz commented on #396
How would we handle the case where the string itself contains quotes?

TBH I think we're better off documenting that `--session` must be used with the session name as displayed by `nox --list`. `nox.parametrize` can take any Python value, so fundamentally Nox would have to do what Black does to normalize these.

[2021-03-08 13:43] theacodes commented on #253
That's okay! Thanks for letting me know.

On Mon, Mar 8, 2021, 3:15 AM Andrea Cimatoribus <notifications@github.com>
wrote:

[2021-03-08 16:30] t-eckert commented on #396
I'll leave that discussion up to the maintainers. But since you mentioned Black, I wonder if there is a solution where Black's functionality could be leveraged to normalize the string.

[2021-03-09 03:11] rmorshea opened #398 "Session.notify is poorly named"
As I've been working on https://github.com/theacodes/nox/pull/397 I've begun to feel that `Session.notify` is poorly named. Judging by the method's docstring it claims to add the named session to the execution queue. Given this, it would seem that `Session.enqueue` or a more verbose `Session.add_to_queue` would be a better name - anything to would better imply that the given session will be run so

[2021-03-09 12:57] smarie opened #399 "Ability to pass `shell=True` in `session.run` so that the `env` argument is actually taken into account."
Currently it seems that environment variables are not expanded by the underlying `popen` when you call `session.run`:

[code]

displays `%PATH%` instead of the contents of this environment variable
The reason seems to be that the underlying `nox.popen.popen` does not use `shell=True` (as also recommended in https://github.com/theacodes/nox/issues/379#issuecomment-775237889)

This is maybe a window

[2021-03-09 13:07] smarie commented on #399
Oh I realize that this `shell=True` parameter is **only** to expand variables used **within** the `popen` arguments. The env variables seem to be correctly passed to the process, even if `shell=False`. So the issue is probably far less blocking, and maybe not even worth fixing since users usually provide arguments that are already env variables-free. But for debug purposes, I still believe that be

[2021-03-09 16:11] cjolowicz commented on #399
Expecting shell syntax to work is an easy mistake to make, especially when coming to Nox from Makefiles. So thanks for pointing that out!

Unfortunately, passing commands through the shell opens a can of worms, with shell metacharacters, portability issues, and another process to take care of. It would also break existing Noxfiles that are written for the current behavior. So I think that it would

[2021-03-10 21:20] rmorshea opened #400 "Session.posargs should be immutable"
There's no reason that `Session.posargs` should be mutated by users.

_Originally posted by @cjolowicz in https://github.com/theacodes/nox/pull/397#discussion_r591857948_

[2021-03-11 08:56] cjolowicz commented on #400
Thanks for creating the issue @rmorshea !

Here's an example to illustrate the problem:

[code]

The lint session will fail with `flake8: error: unrecognized arguments: -x`.

[2021-03-11 09:09] cjolowicz commented on #400
In the context of #397, we discussed two approaches to solve this:

- Returning a copy using something like `global_config.posargs[:]`
- Returning a tuple instead of a list

On further thought, I'm worried that option 2 would break users that expect `session.posargs` to be a list:

[code]

It's true that typically `session.posargs` is unpacked into `session.run`, and the precise type of `session.p

[2021-03-12 00:18] jamandbees commented on #394
That's awesome, thanks @cjolowicz!

[2021-03-12 01:45] t-eckert commented on #396
I will hang in a holding pattern on this until I get some direction from the maintainers. Still willing to do the work.

[2021-03-12 03:02] #264 closed

[2021-03-12 03:04] #391 closed

[2021-03-12 03:06] theacodes commented on #399
Yeah, I'm -1 on adding `shell=True` as either default or explicit behavior. If someone really needs this, they can use `subprocess` directly.

[2021-03-12 03:07] theacodes commented on #398
I feel like I raised the same concerns when @lukesneeringer created this and he gave me a really good example of where another project did this. I can't remember it now.

I'm happy to accept suggestions for an alias.

[2021-03-12 08:17] rmorshea commented on #400
@cjolowicz good point about the list additions. I think I do that myself actually. Copying the list might be the right approach here. I feel like there's a lot more people who will be harmed by changing this to a tuple than would be protected by its immutability?

[2021-03-13 15:50] cjolowicz commented on #396
I'll provide some additional info, hoping that it helps us decide what to do here.

Here are some examples of valid session names:

[code]

<details>
<summary>To reproduce, run `nox -l` with the noxfile.py below:</summary>

[code]
</details>

Replacing double quotes by single quotes will work for the first example, but break the second and third examples where the strings contain quotes.

The rema

[2021-03-13 19:53] cjolowicz commented on #396
If we do want to provide this kind of normalization, here's one thing we could try:

1. Parse the session name using [ast.parse].
2. On `SyntaxError`, give up and use the original session name.
3. If the AST does not have the expected form, give up and use the original session name. The expected form would be a function call (the session) using only keyword arguments (the parameters).
4. For each

[2021-03-13 20:24] cjolowicz commented on #398
Could it have been [threading.Condition.notify] from the standard library? It wakes up a thread that is waiting on a condition.

[threading.Condition.notify]: https://docs.python.org/3/library/threading.html#threading.Condition.notify

I seem to recall being slightly confused when first encountering `session.notify`. It didn't bother me recently, but I can see how a more intuitive name could help

[2021-03-14 06:22] rmorshea commented on #398
I think `session.schedule` is better than the options I proposed.

[2021-03-14 13:54] cjolowicz commented on #392
I decided to have a go at this in #404

[2021-03-14 15:42] jamandbees commented on #394
I have something that covers the `session.install` and `session.conda_install` methods specifically - here's the compare URL: https://github.com/theacodes/nox/compare/main...PlayTechnique:394-adds-no-install-flag?expand=1

I wanted to double check that `session.run_always` should definitely have the early guard, too. The docs for it indicate the intention to always run that method (from sessions.p

[2021-03-14 20:27] jamandbees commented on #394
Actually, I'll just implement it like above and create the pull request and we can move this into a PR review. That might work be easier for you folks instead of offering patches in comments 🙂

[2021-03-14 22:22] jamandbees commented on #394
https://github.com/theacodes/nox/pull/405

[2021-03-15 10:38] smithfred commented on #395
I don't understand.

What I mean is, I would expect that if I run `nox -s "test(foo='bar')"`, then it would run both `test-3.8(foo='bar')` and `test-3.9(foo='bar')`, but this doesn't work.

[2021-03-15 18:35] emilmelnikov commented on #394
What do you think about adding a shortcut option for `--reuse-existing-virtualenvs --no-install`? Such an option would be convenient for the interactive use case described above, but, of course, it is not strictly necessary.

[2021-03-15 21:50] cjolowicz commented on #394
Thank you @jamandbees for submitting your PR!

I have some questions about how `--no-install` should work, so I thought I'll ask them here on the issue before we get into implementation details on your PR.

Maybe @theacodes or the other maintainers would like to chime in here as well.

**1.**

The first question is about what @emilmelnikov just remarked:

It seems to me that `--no-install` should

[2021-03-16 13:43] smarie commented on #399
Does a direct `subprocess` run with the correct session's bin paths ? If not, then providing a `session.popen(....., shell, env)` could be a viable alternative for such advanced usage.

I did not mention it in my original post, but I did this because I was suspecting that my `env` was not properly passed to `session.run`. In order to eliminate this possibility in my mind, I came up with this simpl

[2021-03-16 13:53] emilmelnikov commented on #394
When a new hypothetical `--skip-install-in-existing-virtualenv` flag is passed, from a user's point of view, if an environment does not yet exist, it makes sense just to run the target session as usual, creating a new environment and installing everything, but if an environment already exists, skip `install` and `run_always` commands.

[2021-03-16 21:41] cjolowicz commented on #399
No, we don't modify the environment of Nox itself. But you could set `PATH` for the subprocess using `session.bin_paths`.

If it's for advanced usage in debugging session, invoking the shell explicitly via `session.run` seems sufficient to me. I would also consider using `python -c "..."` instead of running a shell.

The documentation of [session.run] has examples for both `bash` and `cmd.exe`, an

[2021-03-17 22:51] smarie commented on #399
Indeed this documentation seems sufficient for me. You can close the ticket if no other idea/feedback pops up

[2021-03-18 02:17] jamandbees commented on #394
Hey folks - I just want to be sure to let you know that, whatever the outcome of this chat, I'll be happy to implement the changes.

I appreciate the time you're putting in to make this better 🙂

[2021-03-18 09:02] cjolowicz commented on #399
Alright, I'm closing this for now. Thanks for filing the issue @smarie :)

[2021-03-18 09:02] #399 closed

[2021-03-18 10:00] cjolowicz commented on #394
Thanks @jamandbees, actually the points above don't require many changes. How about if we proceed to iterate on your PR?

You already implemented point 3 (skipping `run_always`).

Point 1 (implying `--reuse-existing-virtualenvs`) requires a one-line change: `SessionRunner._create_venv` checks if the virtualenv should be reused, we'd need to add the new flag to that condition.

Point 2 (ignoring `-

[2021-03-18 15:37] smarie opened #406 "Fix conda current environment detection on github actions"
On github actions the following command does not output the right environment's package list:

[code]

I am not sure if this is because the command is run from a specific shell (I use `shell: bash -l {0}` in the [workflow definition file](https://github.com/python-qds/qdscreen/blob/7d8e70eab86c6eb324f8dee8680aaf190d32f516/.github/workflows/base.yml#L72)).

I am able to fix this by using explicit e

[2021-03-18 18:11] theacodes commented on #406
No idea. Someone with more conda experience would have to chime in.

Probably, but again, someone with more experience with Conda would have to make the call.

[2021-03-20 14:32] jamandbees commented on #394
Sounds good! I'll take a look today ☺️ Thank you!

[2021-03-22 13:57] smarie opened #407 "Provide a handy CLI function and/or method on Func objects, to list all session names for a given `Func`, for easier Github Actions integration"
Let's consider the following prototypical noxfile.py :

[code]

When integrating such a nox-based project into github actions, the basic way to do it is to list the sessions:

[code]

It would be handy to not have to redefine the list of test sessions in the github actions build matrix.

I found a way to solve this issue, and have the GHA build workflow dynamically create a build matrix from nox s

[2021-03-24 21:00] jreiberkyle opened #408 "different behavior for pytest within nox session when using --doctest-glob argument"
**Describe the bug**
I am attempting to implement doctesting with pytest with nox. When I use the `--doctest-glob="*.md"` flag in pytest directly, the markdown documents are discovered and tested. When I use the `--doctest-glob="*.md"` flag in pytest when run by nox, the markdown documents are not discovered.

**How to reproduce**
I tested this in a python docker container: `python:3.7`

README.md

[2021-03-24 21:27] theacodes commented on #408
Hi there, for parameters like this you generally need to split the name and the assignment, see if this code works:

[code]

[2021-03-24 22:38] jreiberkyle commented on #408
ahhhh thank you so much @theacodes! That code did indeed work. Thanks for the tip and the fix 🙏

[2021-03-24 22:38] #408 closed

[2021-03-24 22:40] theacodes commented on #408
No problem! Glad we got it working. 🙂

On Wed, Mar 24, 2021, 6:38 PM Jennifer Reiber Kyle ***@***.***>
wrote:

[2021-03-25 02:45] davidism commented on #88
I'm not sure if #198 would solve this, unless the intention is that one nox session could call a bunch of other nox sessions as background tasks. That would still require the author of the session function to handle detecting when the task was finished and handling parallel output and reporting. Could you clarify how #198 will enable parallel sessions?

[2021-03-25 07:13] staticdev commented on #88
@davidism might be better to ask there since they already closed this issue.

[2021-03-25 14:01] smarie opened #409 "Ability to get a separate log file for each session, containing the full detailed command logs (not the level from the logger)"
On projects with quite a number of nox sessions, it is a bit annoying if several sessions fail but several other succeed, to get the logs of all failed sessions.

The same will definitely happen when sessions can run in parallel (See https://github.com/theacodes/nox/issues/198 )

In my projects I came up with a quick and dirty prototype where the full log (including stdout and stderr of all comman

[2021-03-25 16:14] theacodes commented on #409
Oh I like this idea a lot.

On Thu, Mar 25, 2021, 10:02 AM Sylvain Marié ***@***.***>
wrote:

[2021-03-25 16:22] davidism commented on #198
I'm not sure if this would solve #22, which was closed in favor of this. Unless the intention is that one nox session could call a bunch of other nox sessions as background tasks. I think that's an interesting idea, it would definitely keep "run these sessions in parallel, then run this reporting session" simple. But it would still require the author of the session function to handle detecting whe

[2021-03-26 06:27] rmorshea commented on #398
ping: @lukesneeringer thoughts on replacing `Session.notify` with `Session.schedule`?

[2021-03-27 23:58] jamandbees commented on #394
@cjolowicz Sorry it took a week, but I think I got what you were describing! I've opened a new PR (https://github.com/theacodes/nox/pull/410) with the updates and changes in.

It'd be nice to reduce some of the implementation duplication. My challenge was that though the same booleans are checked in the same order, and it's easy to make them use the same error messages, the handling of the conditi

[2021-03-29 20:01] cjolowicz commented on #394
Hi @jamandbees the new PR looks great! (I think you meant #411.)

@theacodes how would you feel about naming the option `--reuse-install` rather than `--no-install`?

I'm proposing this for the following reasons:

- The option causes the reuse of virtualenvs, like `--reuse-existing-virtualenvs`.
- It will only skip installs if the virtualenv is actually being reused.
- It could be disabled using `

[2021-03-30 09:40] hotenov opened #412 "--extra-python does not replace Python version by full path on Windows"
**Describe the bug**

I use pyenv on Windows ([pyenv-win](https://github.com/pyenv-win/pyenv-win)) which is not supported by nox *(as I noticed :)*

But I found two workarounds for my local Nox running with installed Python versions via pyenv.

**First**, I can pass full paths to installed Pythons in my separate (local) noxfile:

[code]

and use nox CLI with command `nox -f noxfile.local.py`. It w

[2021-03-30 12:03] cjolowicz commented on #412
Hi @hotenov, thanks for filing this issue!

I believe that what you are describing is expected behavior, because `3.8.2` and `C:\users\winfan\.pyenv\pyenv-win\versions\3.8.2\python.exe` are not the same interpreter. So you are telling Nox to use interpreter A, while adding an extra interpreter B, which is ignored because you just told it to use A.

Instead you should be passing the same full path

[2021-03-30 15:09] hotenov commented on #412
Hi Claudio! @cjolowicz

Thanks for quick response and amazing Hypermodern articles ;)

I think I understand now, that combination  `--python` and `--extra-python` is two interpreter `A` + `B`
and single `--extra-python` , i.e. `nox --extra-python "full_path_to_python"` also works fine.

So, I was confused by example in documentation and word "to replace":

![image](https://user-images.githubuserco

[2021-03-30 17:15] hotenov commented on #412
👍🏻  Excellent examples! I think, you should add them into the docs :)  All clear, now. Thanks!

I was hoping that option `--python 3.10 --extra-python 3.10` is "manual binding" version and real interpreter path. Now I see that this is not the case.

I have to wait when you add this feature or pyenv-win add correct version detection (and several local versions on Windows). Who is faster?! : )

For

[2021-03-30 17:15] #412 closed

[2021-03-30 18:22] cjolowicz commented on #412
Glad this helped.

Have you considered using the official Python binaries on Windows, by the way? Nox should work with them out of the box.

[2021-03-30 18:40] hotenov commented on #412
Yes. I have one :) and Nox picks it up smoothly _(with it, I found out that pyenv's installings invisible at all for Nox)_.
But with pyenv managing Pythons a bit easier. And Nox has a cool workaround. Yes, the terminal command has become a little longer, but this is trivia. One code file is more important :)

[2021-03-31 11:57] smarie commented on #409
To make a step towards resolution, here is an attemps to specify the feature

 - a new option `nox.options.logsdir` with default value `None` meaning `".nox/_runlogs"` (note: maybe `.nox/` comes from another parameter, I need to check). Setting this option to `False` would disable log files. Setting this to a valid path string changes the folder.

 - The folder does not need to exist, it is create

[2021-03-31 20:49] cjolowicz commented on #392
It occurred to me that we don't need `sessionparams` for backward compatibility, after all. We can just inspect the signature of the session function to see if it declares `python` as an argument. If it does, we'll treat `python` as a normal parameter. If it doesn't, we use it to determine the session Python.

This simplifies both the public API and the implementation significantly :tada:

#413 im

[2021-03-31 20:54] cjolowicz commented on #392
Just to recap the API as it stands now... The following two would be equivalent:

[code]

So we no longer need an extra keyword argument `sessionparams=["python"]` in the parametrize call.

[2021-03-31 21:15] smarie commented on #392
I like this. With the proper level of documentation about what you just mentioned ("if `python` is an argument of the session function it will be used as a parameter") then it is understandable.

What about other session parameters, would it make sense to have them follow the same principle ?
(reuse_venv, name, venv_backend, venv_params). At least for `name` this seems redundant with `ids` ..

[2021-04-01 20:24] cjolowicz commented on #392
I was going to omit this from the documentation, actually. While we shouldn't break anybody who is using `"python"` as a normal parameter, I also don't think we should encourage this usage. I have no idea how many people are doing this. If this is a thing, then yes, we should probably mention that it'll continue to work (but discourage it?).

Yes, I think that would work in principle. Do you see a

[2021-04-02 08:40] smarie commented on #392
I would recommend that all "features" are documented. Otherwise people end up thinking that the lib is not able to do this, because they just don't know what the "happy few" know :)

For the "name" yes, I would be able to give a custom name to each of my sessions when several argnames are parametrized, rather than trying to customize the "ids" function so that it works. This is a problem in pytest

[2021-04-07 14:49] zdog234 commented on #409
I love all of that :)

[2021-04-07 14:55] zdog234 commented on #409
I'm tempted to default to `logging.DEBUG`, but I guess anything is fine as long as long as users *can* easily configure it to go down to `DEBUG`

[2021-04-07 19:33] cjolowicz commented on #394
Here's a different proposal:

- Keep the name `--no-install`, as originally proposed.
- Revert the decision that `--no-install` implies reuse of virtualenvs. Instead, make the option have no effect unless `--reuse-existing-virtualenvs` is also given.

When reuse of virtualenvs is not implied, the name `--no-install` feels clear and succinct.

@jamandbees Would you be okay with doing this change? S

[2021-04-08 07:23] smarie commented on #409
Good point. Then I guess we will have no choice but looking closer at [this](https://stackoverflow.com/a/53418323/7262247).

[2021-04-09 15:29] jamandbees commented on #394
@cjolowicz I'm super happy to implement whatever changes you folks decide upon! I'm just stoked you all are hanging out and giving me direction 🙂

Would you like me to implement the above suggestion on a different branch, so you can see how it looks?

[2021-04-09 17:40] cjolowicz commented on #394
@jamandbees You're welcome :) Thanks for implementing it!

You can just continue on the existing PR. It also makes it easier for us to keep track of things :wink:

[2021-04-09 19:09] mikeholler opened #414 "Have noxfile.py install dependencies for itself"
**How would this feature be useful?**

Nox has sessions that create virtualenvs, but nox itself executes using the environment available to the system. It would be nice if we could have as predictable an environment for the nox buildscript as we have for each session.

**Describe the solution you'd like**

Have a second file, `noxfile-settings.py` that nox executes if present to create an environm

[2021-04-09 19:18] mikeholler opened #415 "Get the name of a session"
**How would this feature be useful?**
I would like to use the name of a session to create named reports folders, but I could see it being used a number of ways.

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

I was able to find a session name by writing this function and calling it in my session functions.

[code]

[2021-04-09 19:49] cjolowicz commented on #415
Hi @mikeholler , thanks for the feature request!

`Session.name` was recently implemented (#386). This has been merged into the main branch, but not yet released.

Could you try with the main branch of Nox and see if this works for you?

[2021-04-10 00:17] nss350 opened #416 "nox > Error: python is not installed into the virtualenv, it is located at"
Hi,
I'm having a problem trying to get nox to run. I'm on Windows and have a single version of Python installed (3.9.4). I have installed nox globally (python -m pip install nox) and have a project with a noxfile.py.

When I go to run nox (no virtual environment activated or anything), I get the below error. I'm not quite sure where to start here, as I've used nox before on Windows and never encou

[2021-04-10 13:12] nss350 commented on #416
I have investigated this a bit more and am more confused but have managed to get it running. Here are the things I've found:
Platform: Windows
Python versions (with nox installed): Tried 3.9.4, 3.9.2, 3.9.1
virtual environment backends: venv and virtualenv
Using: powershell

The problem occurred with both virtualenv and venv
I always develop using virtual environments and had not experienced any i

[2021-04-10 15:00] funkyfuture commented on #9
i'm in a situation (compilation of CPython3.7 fails weirdly on Ubuntu 20.10) where my approach would rather be to extend nox so that Docker/Moby (and perspectively other container solutions) can be used as `venv_backend`. i haven't looked into the codebase to estimate the effort yet, so my question is whether that is something you'd be generally interested in.

[2021-04-10 15:06] nss350 commented on #416
Closing this issue as I'm pretty sure it's not related to nox but instead to some permissions strangeness happening in Windows that I can't seem to get to the bottom of.

[2021-04-10 15:06] #416 closed

[2021-04-12 08:01] emilmelnikov commented on #394
If this will be implemented, then I would like to ask for a shortcut option combines `--no-install` and `--reuse-existing-virtualenvs` because this is what most people will use.

[2021-04-12 13:50] jamandbees commented on #394
How does `—reuse-all` sound for that option?

I’ve been trying to work on nox over the weekend but I got my covid vaccine last week and was pretty wiped out for a few days. I’m hoping to knock this out this week 🙂

[2021-04-12 17:31] smarie commented on #409
Any other feedback from core devs ? I may take a stab at it in a few weeks, but would love the spec to be quite clear before rushing into anything.

[2021-04-15 01:03] wholtz opened #419 "creation of conda environment fails when venv_params is not None"
**Describe the bug**
If venv_params is used when creating a conda environment, then the value of venv_params gets inserted into the conda command line argument list at the wrong location. The current code attempts to add pip to the list of packages to be installed and places 'pip' before venv_params. However, the `conda create ...` command expects all options to be listed before package names, so

[2021-04-17 23:54] jamandbees commented on #394
I've implemented the request; I've decreased test coverage, though, and am just trying to figure that out.

[2021-04-18 00:16] jamandbees commented on #394
I've been poking at this test coverage issue on and off all day and made no headway. It seems to me like the coverage tool is saying that lines which are explicitly verified are not being tested. The coverage report shows `nox/sessions.py         269      0     94      2    99%   382->388, 454->459`, but lines 382-388 are definitely verified and so are 454-459. At least, I _think_ so!

Is there an

[2021-04-18 00:21] jamandbees commented on #394
Oh! I have an idea for that second problem! Lemme work it out 🙂

[2021-04-24 02:30] #123 closed

[2021-04-24 02:31] #419 closed

[2021-04-24 02:33] #392 closed

[2021-04-27 00:35] jamandbees commented on #394
Hey gang - I'm still on this, I'm just also busy with some other stuff that will hopefully mellow out in the next week.

Just to write this down, my idea for working on the option requested above is that I don't think there's currently a way to specify an option on the command line which only has the side-effect of setting other options to a known state, so I was thinking of implementing a new opt

[2021-04-29 19:55] mforbes commented on #252
One slightly off-topic question: If an interpreter cannot be found, is there some way to specify a fallback?  For example, how could one express the following to `nox`: If the requested python interpreter is not found, try to install it with conda, then re-run using that interpreter?

This can almost be done by having

[code]

but how can I have the `test` session delegate to the `test_conda` sess

[2021-05-02 18:15] kloczek opened #422 "2020.12.3: pytest is failing on tests/test_tox_to_nox.py"
[code]

[2021-05-02 20:30] cjolowicz commented on #422
Hi @kloczek I cannot reproduce this. Can you provide more information on the environment in which you are running this in?

[2021-05-02 20:38] cjolowicz commented on #415
This was resolved in #386. Closing for now, happy to reopen if there's anything left for us to do here.

[2021-05-02 20:38] #415 closed

[2021-05-03 05:33] kloczek commented on #422
No problem :)
[code]
[code]

[2021-05-03 19:24] cjolowicz commented on #422
These are 398 packages.

Can you please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example)?

[2021-05-04 06:35] kloczek commented on #422
I'll try to explain something about context ..
I'm now packaging into rpm packages all python stuff for the distribution on which I'm working (only those which will be used during build processes or test suites in that distribution). Part of that process is checking what are reporting test suites of in build env where is installed Everything™️.
So far I was able report many similar errors or warni

[2021-05-04 09:07] cjolowicz commented on #422
I understand, and thanks for reporting this, anyway.

You're encountering a case where the output of `tox_to_nox` contains an unexpected shebang line with your interpreter. `tox_to_nox` is a tool that generates a `noxfile.py` from a `tox.ini` for people wanting to migrate a project from tox to nox. While unexpected, this behavior is benign and the generated noxfile.py will work just fine.

Unfortu

[2021-05-04 09:14] kloczek commented on #422
Hmm .. maybe 🤔
Will try to have look on that issue one more time today evening.
Just checked strace output and I see only one time try to open (sucessfull) system DSO.

[2021-05-04 09:14] cjolowicz commented on #422
Actually, I have another idea. Could you please check if the file `tox_to_nox.jinja2` in your Nox installation has a shebang line? It shouldn't. The first line should be `import nox`.

[2021-05-04 09:21] kloczek commented on #422
[code]
so .. try to patch that to remove that line?

[2021-05-04 09:31] cjolowicz commented on #422
Glad we found the cause. This line does not come from the Nox distribution, so I'm going to close this for now. (But do feel free to comment, I'm happy to assist.)

The line does not exist in the upstream distribution. It must have been added at some point in the downstream packaging process. Instead of patching it out again, I'd take a look how it got there :wink:

[2021-05-04 09:31] #422 closed

[2021-05-04 09:41] kloczek commented on #422
You just gave me ide of some additional check which can try to add to my rpm macros.
Just made quick check across all my python modules
[code]
That output does not look good and I think that I'll try to add rpm filter to at least warn about shebangs lines if *.py file has shebang line and is 644 and finish build with non-zero exit code.
Definitely on that output should not be python2.7😱

I think t

[2021-05-07 03:25] jamandbees commented on #394
Again, sorry for dropping this for a bit! I was studying/interviewing for jobs, but I'm all done with that now. I'm looking forwards to finishing this up.

[2021-05-22 16:20] cjolowicz opened #424 "Regression: Nox crashes with AttributeError: module 'sys' has no attribute 'real_prefix' when reusing virtualenvs"
**Describe the bug**
On the main branch, `nox -r` crashes with `AttributeError: module 'sys' has no attribute 'real_prefix'`. This appears to be a regression from #418.

**How to reproduce**
Install Nox into a virtualenv, and run its own test suite using -r.

[code]

**Expected behavior**
Nox reuses the virtual environment without crashing.

[2021-05-22 16:42] cjolowicz commented on #424
[OT, will open a separate issue]

The following line from #418 does not work on Windows:

[code]

This directory is named "Scripts" on Windows.

[2021-05-23 17:51] #424 closed

[2021-05-23 19:45] cjolowicz commented on #233
Hey @omry

As of Nox 2020.12.31, this can be achieved by passing the full interpreter path via `--extra-python`, for example:

[code]

This will still resolve the other interpreters normally. To restrict the run to a specific interpreter, you'd need to pass the path to `--python` as well, like this:

[code]

(We may introduce a shorthand for this eventually.)

Would this technique work for your us

[2021-05-26 03:13] PureFunctor opened #429 "Add property to determine if session has reused an existing virtual environment"
**How would this feature be useful?**
Some complex workflows that require more expensive setups for sessions, [for example](<https://cjolowicz.github.io/posts/hypermodern-python-03-linting/>), would benefit if some steps can be skipped conditionally based on this property.

**Describe the solution you'd like**
This currently works for my use case: **Edit**: Assuming that `.nox` exists when `nox -r

[2021-05-26 13:40] cjolowicz commented on #429
Are you looking for a way to skip package installation when environments are reused?

In that case, this would be a duplicate of #394 .

[2021-05-26 14:34] PureFunctor commented on #429
Yes, a quick read-through tells me that I could use `run_always` and the new flag to skip installation steps, if I follow. Thanks and feel free to close this issue :slightly_smiling_face:

[2021-05-26 20:08] zachliu opened #430 "My project needs colorlog > 5.0.0"
**How would this feature be useful?**

My project desperately needs colorlog > 5.0.0 for colorful things :sweat_smile:

**Describe the solution you'd like**

nox supports colorlog > 5.0.0

**Describe alternatives you've considered**

[2021-05-27 00:09] #430 closed

[2021-05-27 14:57] #429 closed

[2021-05-28 14:39] cjolowicz commented on #394
@emilmelnikov @PureFunctor This is being addressed in #432, feel free to comment.

[2021-05-28 15:18] Abhijeet-Linux commented on #165
Sir, I am getting a little bit problem during installing nox in kali linux.
Problem:-  Noxfile /home/noxfile.py not found.

[2021-05-28 17:11] cjolowicz commented on #165
Hi @Abhijeet-Linux you need to invoke Nox from the directory containing your noxfile.py.

If you have further questions, could you please open a new issue? Thanks :)

[2021-05-28 18:25] vaneseltine commented on #384
I don't have an immediate solution, but I do have some thoughts on this.

**The easy way (classifiers)**

The way I address this for my own projects is with a very basic function that scrapes the PyPI trove classifiers, like:

[code]

That covers only minor versions, of course, but it feeds nicely into `@nox.session(python=supported_pythons())`

It would probably be more correct way here to use se

[2021-05-28 19:38] vaneseltine commented on #400
Yes, flipping through [a few examples](https://github.com/search?l=&q=session.posargs+filename%3Anoxfile&type=Code) most of them use generic sequence methods like `in` and unpacking, but it didn't take long to come across list concatenation in the wild

And I think I might have found a superspreader for one common pattern...

[pip](https://github.com/pypa/pip/blob/main/noxfile.py):

[code]

So whi

[2021-05-31 06:24] cs01 commented on #233
Just for the record this is no longer a record for me, as the pipx tests now work with nox. I am not sure exactly what changed, but I suspect the venv module has been modified. In any case, I am fine if this issue is closed.

[2021-06-01 10:15] #394 closed

[2021-06-03 13:51] cjolowicz opened #433 "Regression: Garbled error message when session not found"
**Describe the bug**
Nox prints a garbled error message when a session is not found.

More precisely, instead of the offending session name, Nox prints the representation of an AST tree.

This is a regression on the main branch, no release is affected.

**How to reproduce**
In the Nox repository, pass a bogus session name.

[code]

**Expected behavior**
[code]

[2021-06-03 16:11] cjolowicz commented on #396
Fixed in #417

[2021-06-03 16:11] #396 closed

[2021-06-03 16:33] #433 closed

[2021-06-06 12:51] #400 closed

[2021-06-08 13:06] PureFunctor opened #441 "Issues with virtual environment reuse and multiple Python versions installed through `pyenv`"
**Describe the bug**
G'day, Nox 2021.6.6 seems to fail reusing environments when it finds multiple Python interpreters installed by `pyenv`. Perhaps this is related to #428 ?

**How to reproduce**
Install multiple versions with `pyenv`
[code]
This populates `~/.pyenv/shims/` with the following with executable scripts e.g. `python`, `python3.9`, `python3.8`, etc. This folder is typically added to `

[2021-06-08 19:41] cjolowicz commented on #441
Can you verify that ˋvirtualenv -p. 3.9ˋ (or whichever Python version you were using with Nox) gives you the expected full Python version?

I have seen similar behavior, though my situation was slightly different from the one you described. To my knowledge, virtualenv does not invalidate its cache when you install a newer point release (X.Y.Z) of Python using pyenv. Its cache invalidation code onl

[2021-06-09 21:18] cjolowicz commented on #441
See https://github.com/pypa/virtualenv/issues/2130

[2021-06-10 03:27] DrGFreeman commented on #305
Hello, I'd like to work on this issue if it's OK. Thx.

[2021-06-10 04:27] DrGFreeman opened #443 "Lint session fails following tests-3.x session runs"
**Describe the bug**
In the nox repository, when running the `lint` session after having run one of the `tests-3.x` sessions, flake8 fails on analysis of the test generated virtual environments in `tests/resources/.nox/`:

[code]

**How to reproduce**

Run `nox -s tests-3.8 lint`

**Expected behavior**

The `lint` session passes without errors.

**Notes**

- This can be fixed by adding `exclude =

[2021-06-10 04:47] henryiii opened #444 "conda: support for Mamba"
**How would this feature be useful?**

It would be great to support `mamba`, which is a conda replacement solver that is dramatically faster. A solve of a complex package like ROOT (which is a reason to use conda in the first place) takes several minutes with conda, and a few seconds with mamba.

**Describe the solution you'd like**

Option 1: Provide a new backend: `"mamba"`. This would simply ma

[2021-06-10 08:04] cjolowicz commented on #443
Thank you for catching and reporting this @DrGFreeman :)

#445 avoids creating a `.nox` directory under `tests` in the first place. That should fix this issue.

[2021-06-10 09:44] PureFunctor commented on #441
I'm not entirely sure what steps to take but when I did `virtualenv -p 3.9` and inspected the generated `pyvenv.cfg` file inside of the environment directory, I found:
[code]

As opposed to using `virtualenv -p 3.8` which generates:
[code]

The former seems to occur because of how I've installed `nox` through `pipx` (which was installed from Arch packages, thus the use of the system interpreter).

[2021-06-10 12:38] theacodes commented on #444
I'm all for having a `mamba` backend in addition to the conda one. I don't think we should automatically switch to mamba if it's available, since it doesn't completely support all of `conda`'s options and can differ behaviorally - I wouldn't want to break the principle of least surprise.

FYI for my future self or others unfamiliar: this is the mamba project's documentation: https://mamba.readthed

[2021-06-10 12:38] #443 closed

[2021-06-10 13:04] henryiii opened #446 "conda: set channel via keyword"
**How would this feature be useful?**
Minor addition for a common situation.

**Describe the solution you'd like**

What about having a `channel=` keyword argument for `conda_install` so that one could write `channel="conda-forge"` if selecting a channel? It would be a bit more natural than `"--channel=conda-forge"`, I think, and likely is very common.

It is possible to set multiple channels - th

[2021-06-10 18:24] henryiii opened #447 "conda: use an environment file"
**How would this feature be useful?**
Many projects define dependencies in an environment file. You can list channels, etc. in such a file. For example:

[code]

More realistic example here: https://gitlab.cern.ch/LHCb-Reco-Dev/pv-finder/-/blob/master/environment.yml

I don't see a way to specify this with `conda_install`, since it's a different command used when making the environment (and it can

[2021-06-10 18:30] henryiii commented on #447
FYI, it's not as "nice", but you can use conda update to inject an environment into the current environment; this is how mybinder was implemented, IIRC. You can't keep the environment name this way, which can be affect running notebook kernels.

[2021-06-11 04:23] henryiii commented on #444
Ahh, never mind, looking at the [usage](https://github.com/theacodes/nox/blob/bcaa5ffa42173037030f67e2ae58d10fbe659945/nox/sessions.py#L553), it could easily just be a regular argument / instance variable, I think.

The only question remaining is, would the "mamba" backend require mamba to be installed, or should it try to install mamba with conda if mamba is not installed? The first one (requirin

[2021-06-11 04:45] henryiii commented on #406
I think this is correct - @chrisburr, would you know if `env={"CONDA_PREFIX": session.bin, "CONDA_DEFAULT_ENV": session.get_session_id()}` should be sufficient to use the correct environment (assuming `session.<stuff>` is correct)?

Also, the problem in GitHub Actions could be brought up to the setup-miniconda team, perhaps, if it's more general than this (though it generally has worked fine, so p

[2021-06-11 04:52] henryiii commented on #447
Oops, dup of #260

[2021-06-11 04:54] henryiii commented on #444
Xref: Mentioned as a side note in #346

[2021-06-11 06:21] #305 closed

[2021-06-11 08:32] chrisburr commented on #406
I think I might be missing some context but I'll try to give some information and you can let me know if I've misunderstood. In particular I'm not sure what this `session` object is and `session.bin` looks like it would end in `/bin` and therefore never be a valid value for `$CONDA_PREFIX`.

It is impossible to correctly activate an arbitrary conda environment by setting environment variables beca

[2021-06-11 11:51] smarie commented on #406
@chrisburr the issue is that when a nox script runs, it will spawn each command into an independent subprocess (using the usual python [subprocessing module](https://docs.python.org/3/library/subprocess.html)). With this mechanism it is relatively easy to pass environment variables, however I don't think that we can execute a command (the activation command) prior to the desired command. Besides t

[2021-06-11 20:31] cjolowicz commented on #441
Thanks for the additional input!

I think what's going on here is this: Nox decides whether it can reuse the environment by comparing the base prefix of the installed interpreter with the base prefix of the expected interpreter. In your case, these two are different:

- The installed interpreter is based on the system interpreter. This is because virtualenv was installed (via pipx) using the syste

[2021-06-11 22:59] crwilcox opened #449 "Sessions using Python2.7 cannot reuse virtual envs (-r) as Python 2.7 doesn't have attr sys.base_prefix"
**Describe the bug**
A recent change (2021.6.6) caused reuse of virtual environments targeting older python versions (2.7, likely pre 3.3 as well?) from executing

**How to reproduce**

[code]

**NOTE**: the session will work if `-r` is not specified.

**Expected behavior**
I would expect it to reuse the existing virtual environment.

[2021-06-11 23:10] crwilcox commented on #449
I suspect that this may need to also fall back to `sys.prefix` to support sessions with older interpreters?
https://github.com/theacodes/nox/pull/425/files#diff-c7026fde4100b6dc8f4450d13eab8b0da0133179ce24cca5a482ecb18c23ff0cR337

[2021-06-11 23:19] cjolowicz commented on #449
It would fix the crash, but the reuse would never happen:

[code]

So the resolved interpreter and the installed interpreter would be considered different.

See also https://github.com/theacodes/nox/issues/441#issuecomment-859895711

[2021-06-11 23:34] cjolowicz commented on #449
We could fall back to reading `base-prefix` from the `pyvenv.cfg` file in the environment. This method requires virtualenv >= 20, but the older virtualenvs set `sys.real_prefix` instead, so we'd be covered in all cases.

[2021-06-12 09:58] cjolowicz commented on #449
In light of this issue and #441, we may want to consider a bugfix release with the staleness check backed out (#418, #425, #428).

@theacodes @crwilcox what do you think?

To recap, the following issues have surfaced so far:

- crash when reusing Python 2 environments (#449 = here)
- environments never reused when virtualenv selects a different interpreter than the one resolved by Nox (#441)

The

[2021-06-12 11:02] theacodes commented on #449
I'm fine with that.

On Sat, Jun 12, 2021, 5:58 AM Claudio Jolowicz ***@***.***>
wrote:

[2021-06-12 19:08] cjolowicz commented on #449
@theacodes

Cool :) So here's a thought: Can we open a branch `2021.6.x` (or so) from the current release, and target the reverting PR and release PR to that? AFAICT the release automation should work fine if the tag is pushed to that branch instead of main. (Is that also true for ReadTheDocs?) The advantage would be that there's no disruption on main (revert, release, revert the revert), and the

[2021-06-12 19:47] theacodes commented on #449
I'm actually fine with us just doing it on main. Nox doesn't move fast
enough for that to be disruptive.

On Sat, Jun 12, 2021, 3:08 PM Claudio Jolowicz ***@***.***>
wrote:

[2021-06-12 20:16] cjolowicz commented on #449
It turned out that reverting the associated PRs was non-trivial, so I put it behind a feature flag instead, see #451

[2021-06-12 20:29] #449 closed

[2021-06-13 18:15] crwilcox commented on #449
thanks @cjolowicz!

[2021-06-14 20:55] henryiii opened #453 "sessions: require a session?"
**How would this feature be useful?**

Often, especially with building things like binary extensions (which is where I do a lot of work), it is useful to build once and then use the built products (wheels usually, could also be docs) in other sessions. From looking around, it seems like tools like pip currently are just manually running a function that sets up the required produces, and putting th

[2021-06-14 21:04] henryiii opened #454 "cli: add header or footer to nox -l"
**How would this feature be useful?**
`nox -l` is great; one of the best features is the fact that it shows the help text from the session's docstrings. It makes it a great entrypoint (and if there was a way to make the "default" be to show the sessions, such as `nox.sessions = "-l"`, I'd probably tend to use that in most of my noxfiles). However, it would be very nice if there was a way to add ge

[2021-06-14 21:20] henryiii commented on #398
Simply having an example in the docs would really help. I don't mind the notify name, but was a little hard to gather what it did - an example would go a long way in helping, I think.

[2021-06-14 21:51] rmorshea commented on #453
As a short-term work around, it's possible to pass an existing session to your session functions:

[code]

This will work so long as your child sessions don't require unique `Session.posargs`.

[2021-06-14 21:58] henryiii commented on #453
Will this deduplicate the slow step, though? I'd like:

[code]

To only build once. I can cache on the build manually, though ("has_run = False, global has_run, has_run=True").

[2021-06-14 22:07] rmorshea commented on #453
I see. No it does not deduplicate.

I'm also realizing that instead of calling the functions directory to stop on an error, you could just set `--stop-on-first-error` when running the session.

With that said, what if you organized your tasks like this where you would run `nox -s test --stop-on-first-error`?

[code]

If you found it common that you only wanted to run a subset of tests you could do

[2021-06-14 22:27] henryiii commented on #453
Notify is backwards from what is useful for this sort of situation. I want to say `nox -s test1` and that will `build`, then run `test1`. Or I want to say `nox -s test2,test3` and then `build` once, then run `test2`, then `test3`. An error in build should cause the sessions that depend on it to not run, but otherwise, they should each run (unless `--stop-on-first-error` is set). I don't necessaril

[2021-06-15 03:47] henryiii commented on #345
I started to try to help with this, but ran into an incorrect type, which prompted #455. After that is fixed, then I can try to help with this.

[2021-06-15 09:38] cjolowicz commented on #453
Which generator are you using with CMake? Shouldn't that already take care of incremental builds, even across multiple Nox runs?

[2021-06-15 09:47] cjolowicz commented on #454
I like this idea. The module docstring seems a good fit for this IMO, as we already use docstrings of session functions.

Would this be done unconditionally, or require some specific markup?

Looking at pip, pipx, urllib3, and Nox itself, only pip uses a module docstring, which is simply "Automation using nox". From this partial evidence, I'd say probably no need for specific markup.

[2021-06-15 10:09] cjolowicz commented on #441
This was fixed in Nox 2021.6.12.

[2021-06-15 10:09] #441 closed

[2021-06-15 10:11] cjolowicz commented on #233
Thanks @cs01 !

[2021-06-15 10:11] #233 closed

[2021-06-15 10:17] cjolowicz commented on #447
Thanks @henryiii , closing as duplicate.

[2021-06-15 10:17] #447 closed

[2021-06-15 18:00] rmorshea commented on #453
I think that to really implement something like `require` correctly, Nox would need some concept of a DAG of tasks it needs to complete which, to my knowledge, it does not have, so I'm not sure it really makes sense to add.

Given that, I still think you can accomplish what you're looking for by not making `test_1 ... test_n` sessions and instead passing them directly into `Session.notify` as norm

[2021-07-01 12:18] FollowTheProcess commented on #454
I use nox for all my python projects and I rate this idea!

Out of curiosity I forked and made a (very) naive implementation:

<img width="834" alt="image" src="https://user-images.githubusercontent.com/62767721/124123062-ba318f80-da6e-11eb-9444-5235b5dfb55d.png">

Which when you add the docstring at the top of `noxfile.py`:

<img width="681" alt="image" src="https://user-images.githubusercontent.

[2021-07-01 13:36] cjolowicz commented on #454
Hi @FollowTheProcess

Thanks for your interest in implementing this!

The question is how to pass the user module, or just the docstring, from the `load_nox_module` task through to the `honor_list_request` task. You can see the machinery in `workflow`, which is passed the list of tasks by `__main__`.

My first thought would be to store the docstring in the session manifest (class `Manifest`) from

[2021-07-01 14:28] FollowTheProcess commented on #454
@cjolowicz Thanks for the pointer! I'll play around a bit more and see what I can come up with!

[2021-07-01 16:25] FollowTheProcess commented on #454
@cjolowicz I've had a first shot at this and have submitted a PR #459. Let me know what you think when you get a chance to look.

I also added some tests and fixed the ones I broke with this change. I was getting a failing test locally: `tests/test_virtualenv.py::test__resolved_interpreter_nonstandard` but I got that on initial clone too and I'm fairly certain it's not related.

[2021-07-05 09:05] cjolowicz commented on #454
Fixed in #459

[2021-07-05 09:05] #454 closed

[2021-07-05 18:19] FollowTheProcess opened #462 "Have friendlier message if no noxfile.py found."
**How would this feature be useful?**

If you run nox in a directory with no `noxfile.py` you get a scary looking exception:

<img width="847" alt="image" src="https://user-images.githubusercontent.com/62767721/124506519-b92c9500-ddc3-11eb-8761-80dbe2b13440.png">

This is clearly the intended behaviour as using nox without a noxfile is a bit of a non-starter to say the least, and most people could

[2021-07-05 18:35] cjolowicz commented on #462
Thanks for raising this, PR welcome! I'd suggest to keep it simple, along the lines of "noxfile.py not found".

[2021-07-10 09:40] #462 closed

[2021-07-12 17:01] FollowTheProcess commented on #453
This would be a cool feature!

It's not nox but I've used [doit](https://pydoit.org) for these types of things before and it works quite well. My only complaint is that it's not as nice as nox when printing (no colours in things like pytest output for example).

[2021-07-12 17:27] FollowTheProcess commented on #345
Hi @henryiii!

Are you still working on this?

If you're busy I wouldn't mind taking a crack at this 😃 but don't want to just take it without checking first!

[2021-07-12 17:54] henryiii commented on #345
I haven't gotten back to this yet (and am unlikely to before SciPy is over). Also, I'll probably work on #448 next since I already have a PR open for that - so feel free to work on this, I'll avoid starting on it for now!

[2021-07-12 18:02] henryiii opened #465 "sessions: empty list of default sessions could print help"
**How would this feature be useful?**

Sometimes I'd like for the "default" run of nox (with no sessions) to print a help dialog instead; say if there's no clear "default" like `["lint", "tests"]`.

**Describe the solution you'd like**

I'd differentiate between `nox.options.sessions = None` and an empty iterable, `nox.options.sessions = []`. The former would be the default, and would run all sess

[2021-07-12 18:06] henryiii commented on #414
I'd probably put something like this in a non-Python file, say `pyproject.toml` under `[tool.nox] requires=["GitPython==3.1.14"]`, etc. Sounds like it would be a rather large change, though, since nox would need to run nox in an venv. You'd probably want to control/customize that venv, etc...

[2021-07-15 17:13] bcassell opened #468 "Cannot run nox twice with conda on Windows"
**Describe the bug**

On Windows, trying to use conda with nox, the first run is fine, but the second run gives:

`
Session unit_tests raised exception PermissionError(13, 'Access is denied')
...
PermissionError: [WinError 5] Access is denied: '<Redacted>\.nox\\unit_tests\\Library\\bin\\libcrypto-1_1-x64.dll.c~.conda_trash.conda_trash'
`

**How to reproduce**

noxfile.py looks like:
[code]

$> nox

[2021-07-16 18:42] FollowTheProcess commented on #468
Hi @bcassell !

I suspect this is a windows issue and not necessarily a `nox` issue.

The `PermissionError` is a common occurrence in python on windows due to the nitpicky details of how windows handles programs that spawn other programs `subprocesses`, which nox does a lot of!

It's to do with which (if any) of your subprocess has access to various folders and files. My suspicion is that the syst

[2021-07-16 19:18] bcassell commented on #468
This was using python 3.8.10. I've gone with a different solution (based on invoke) because complete conda support is not quite there with nox (though I appreciate the effort and expect that things would work better on Linux!), and if I need to more explicitly manage my envs/build processes, and especially chain tasks togther, it seems like invoke is better suited for that.

[2021-07-16 19:54] FollowTheProcess commented on #468
Cool! Whatever tool makes you the most productive, thanks for filing the bug!

[2021-07-21 20:56] bcassell opened #469 "Working directory unexpectedly set to wherever noxfile.py is."
**Describe the bug**
Trying to invoke nox from a different folder using the --noxfile flag sets the current working directory to where the noxfile lives.  This makes reusing a noxfile across multiple projects in a monorepo very difficult, since I can't find a good way to set the current working directory to where nox was called from.  Even passing '.' as a posarg will end up being interpreted as t

[2021-07-21 21:26] theacodes commented on #469
This is very much intentional behavior and it's too let noxfiles care less about how it was executed - specifically, so it can make assumptions about where it's working from.

I think we could make the original cwd available as a property of the session, though. The chdir happens [here](https://github.com/theacodes/nox/blob/8ee3ebed052ed7eeef0151a424929039dd479b94/nox/tasks.py#L64).

[2021-07-21 22:43] bcassell commented on #469
Available as a session property would be perfect.

[2021-08-01 12:09] liiight commented on #288
Just wanted to update that this inddeed was a shell issue.
The issue was that I tried passing the invocation via an environment variable instead of directly to the execution using the job template that was used.

[2021-08-21 13:36] DiddiLeija commented on #469
Hello @theacodes. I'm interested on this issue, if no one is working on it. Can you please tell me what do I have to do (I'm a bit new to the concept)?

[2021-08-21 16:31] theacodes commented on #469
@DiddiLeija you could store the original cwd in `global_config` and then allow the session to access that. The code starts here: https://github.com/theacodes/nox/blob/8ee3ebed052ed7eeef0151a424929039dd479b94/nox/tasks.py#L64

[2021-08-22 01:54] DiddiLeija commented on #469
Got it. I will open a PR on the next week.

[2021-08-27 07:31] FollowTheProcess opened #471 "Some mechanism where users can share interesting sessions"
**How would this feature be useful?**

I'm willing to bet that there's quite a few nox users out there who are doing weird and wonderful things with their nox sessions, outside the more common sessions like run pytest, linting etc.

I think it would be a great learning resource if nox had some way of users sharing these novel sessions in some sort of "semi-official" way (i.e. not just in passing o

[2021-09-02 23:35] matteosantama commented on #284
Using pipx solved the problem for us too!

[2021-09-03 21:56] DiddiLeija commented on #72
@theacodes @dhermes How is this issue going? If there's something else to do, I can do it. Just tell me.

[2021-09-09 07:56] FollowTheProcess opened #473 "Question: Does nox need another maintainer?"
I've been using nox for a while and I absolutely love it, I use it for all of my personal projects and anything new I write at work has nox integrated from the ground up!

As such I'm pretty invested at this point and I'd love to be able to help out keeping it in tip top maintained condition. I've contributed a few small changes recently and really enjoyed the process, got great feedback and help

[2021-09-09 18:59] FollowTheProcess opened #474 "CI: Add python 3.10.0-rc2 to GitHub Actions"
**How would this feature be useful?**

With the release of python 3.10 around the corner, it's probably a good idea to run the release candidate against nox in CI to uncover any weirdness.

**Describe the solution you'd like**

Add 3.10.0-rc2 to `matrix.python_versions` in `ci.yml`

At the moment, conda does not support 3.10 so this would just be for standard python for now. You can see this runni

[2021-09-09 20:16] #474 closed

[2021-09-09 20:19] theacodes commented on #473
Hi Tom! Sure!

Things don't really change much when you're a maintainer - we'd still want you to have any PRs you author reviewed by at least one other maintainer. But, I'm happy to give you rights to manage issues and review & merge PRs. Feel free to add yourself to the list of maintainers in the docs. Don't hesitate to reach out if you're unsure about anything.

:)

[2021-09-09 20:19] #473 closed

[2021-09-09 20:26] #345 closed

[2021-09-09 21:39] DiddiLeija commented on #72
So, can I work on this issue?

[2021-09-09 21:47] theacodes commented on #72
Go for it!

On Thu, Sep 9, 2021 at 5:40 PM Diego Ramirez ***@***.***>
wrote:

[2021-09-09 21:50] DiddiLeija commented on #72
Ok. I'll open a PR the next week (I don't feel so good this week :disappointed:).

[2021-09-09 21:52] theacodes commented on #72
Absolutely no pressure, and I hope you feel better soon.

On Thu, Sep 9, 2021 at 5:50 PM Diego Ramirez ***@***.***>
wrote:

[2021-09-10 18:57] FollowTheProcess commented on #465
@henryiii I like this idea, I think this combined with the recent addition of printing the noxfile docstring on `nox --list`(#459) could provide a nice "front page" for people new to nox in projects.

My only hesitation would be the look of `nox.options.sessions = []` is not immediately obvious what it does, perhaps a reserved word "list" or "help" or something might be clearer but then that might

[2021-09-10 19:10] FollowTheProcess commented on #407
I may me missing something but could you not just do something similar to nox's own `ci.yml` i.e:

[code]

[code]

Here we've not had to specify explicit nox session, albeit we have had to specify supported python versions in both places, but there's an open issue suggesting parsing of `python_requires` to set this, which would be great! #384

[2021-09-10 19:20] FollowTheProcess commented on #446
I think this is a good idea, I use conda a little bit and do sometimes run into difficulties with different channels. Having the flexibility to choose per session would be ideal.

I think this would be fairly easy to implement too as all you'd have to do (I think) is implement the argument here: https://github.com/theacodes/nox/blob/9c696e2bc2e47ec0f2acd322c7e4be941dab0518/nox/sessions.py#L342-L34

[2021-09-11 21:04] #469 closed

[2021-09-14 20:42] FollowTheProcess opened #477 "Python 3.10.0-rc2 not behaving as expected on Github Actions"
**Describe the bug**
I happened to notice that the Github Actions 3.10.0-rc2 runs were always successful even when others failed, which prompted me to take a look and I discovered that they are successful because nox is simply skipping citing interpreter not found (see below).

<img width="925" alt="image" src="https://user-images.githubusercontent.com/62767721/133330583-a978d445-f828-49e0-b321-67

[2021-09-15 15:50] FollowTheProcess commented on #477
It's more to do with how we use it. We call nox and pass the `matrix.python_version` directly to `nox --session` which works as long as the python interpreter is located on the filesystem as the same path as it's identifier for the setup python action.

In the case of `3.10.0-rc.2` it's name does not match its path on the GHA runner so we'll have to handle this case, it'll just take some playing a

[2021-09-15 16:58] DiddiLeija commented on #477
Well, since you've separated the `build-py310` step from the others, you can directly tell Nox to use Python 3.10:

[code]

This could be a workaround, until there's a final release for Python 3.10.

[2021-09-15 16:59] DiddiLeija commented on #477
If you like this idea, tell me and I will post a PR to apply the changes.

[2021-09-15 19:44] FollowTheProcess commented on #477
Yeah this would work. I've done this on my fork but unfortunately I think it could be more complex than that as we're now getting coverage failures (see [here](https://github.com/FollowTheProcess/nox/runs/3613749834?check_suite_focus=true)) so just trying to figure out why code might be uncovered on 3.10 but not on any other version.

[2021-09-15 20:24] FollowTheProcess opened #478 "Coverage failure on 3.10.0-rc.2"
**Describe the bug**

See #477 for context. But short summary is that the python 3.10 CI runs I introduced in #475 actually weren't doing anything due to the difference between the version identifier `3.10.0-rc.2` and the actual interpreter path on the GHA runner. So nox just ignored it citing a missing interpreter (correct behavior) which made it appear like it was passing.

This was an easy fix

[2021-09-15 20:25] FollowTheProcess commented on #477
Closing in favour of #478

[2021-09-15 20:25] #477 closed

[2021-09-15 20:44] cjolowicz commented on #478
Interesting, all three of these have the same form: leaving a `with` block to a `return` statement. The context manager is always created by `open` or `io.open`. This looks somewhat different from the upstream bugs, and those were already fixed before the rc.

Until this is resolved, I'd say your third option seems best.

[2021-09-16 07:55] #478 closed

[2021-09-16 09:01] smarie commented on #407
@FollowTheProcess : sure we can do as you suggest, but it only works for a single session, non-parametrized, and you have to put all versions in the yaml.

My point is more general-purpose: consider a random project with a random number of sessions, possibly with various python versions and/or parameters. Plus, consider that only some sessions are relevant for gh actions. Then you've got this tick

[2021-09-16 09:13] FollowTheProcess commented on #407
Ahh yeah I get it now! I was imagining a simpler case. I'm on board with this idea 👍🏻

[2021-09-16 20:41] henryiii commented on #465
An empty list does tell you exactly what it _does_, it runs no sessions at all. The only "special" thing is that it prints out a list of possible sessions instead of just not doing anything at all when there's nothing to do, as that would be very boring. Currently, `[]` doesn't actually turn off all sessions, but instead triggers "all" sessions like `None` does.

The problem with a reserved word l

[2021-09-17 07:27] FollowTheProcess commented on #465
Ahh yeah okay, good points. Especially the one about including the other arguments, could easily see that one spiralling

[2021-09-18 14:19] DiddiLeija commented on #339
Hi! Is there any update? If not, I would like to help.

[2021-09-18 21:44] DiddiLeija commented on #339
@theacodes @dhermes @cjolowicz Can I take care of this issue? If I can, tell me where to go.

[2021-09-21 11:15] FollowTheProcess opened #481 "Expose a `warn` log to the session"
**How would this feature be useful?**

I often find myself using the `session.log` method in some of my more complex sessions to inform the user
what's going on.

I do use the `session.error` for failing things but occasionally I run into something that would be more suitable as a warning in the yellow text (e.g. warning if things are out of date etc.)

**Describe the solution you'd like**

Some w

[2021-09-21 13:17] DiddiLeija commented on #481
I'm interested on this! I like that idea. If this is going to be applied, I offer to work on it. Just tell me :)

[2021-09-21 13:18] theacodes commented on #481
I'm totally cool with session.warn

On Tue, Sep 21, 2021 at 7:16 AM Tom Fleet ***@***.***> wrote:

[2021-09-21 13:19] DiddiLeija commented on #481
Me too. I personally prefer `session.warn` instead of `session.log("message", type="warn")`.

[2021-09-21 14:28] DiddiLeija commented on #481
Estupend! If no one disagrees with the idea, I will work on this.

[2021-09-21 17:53] DiddiLeija commented on #481
I created #482. Review it whenever you want.

[2021-09-21 18:34] #481 closed

[2021-09-21 18:42] DiddiLeija commented on #471
I like the idea of a Nox "cookbook".

Another option would be the GitHub wikis, where users can write their amazing use cases.

[2021-09-22 14:07] theacodes commented on #471
I'd be happy to see a "cookbook" or "common patterns" section in the doc. I
do not want to add a Wiki.

On Tue, Sep 21, 2021 at 2:42 PM Diego Ramirez ***@***.***>
wrote:

[2021-09-22 16:58] DiddiLeija commented on #471
Yup, a cookbook sounds better. If I can help with something, just tell me :)

[2021-09-23 17:41] DiddiLeija commented on #471
If you want, I can start to write a "cookbook" section. Just want to know if someone disagrees.

[2021-09-23 18:41] theacodes commented on #471
Go for it!

On Thu, Sep 23, 2021 at 1:41 PM Diego Ramirez ***@***.***>
wrote:

[2021-09-23 18:57] FollowTheProcess commented on #471
@DiddiLeija I've got a rough starter scaffold I've been working on in the background. Let me get that finished up and into a PR for review, just so we don't duplicate effort 👍🏻

If the "cookbook" section is something we want to keep, it'll be a longer running thing that contributors can add to at any time in the future so plenty of chance to contribute!

[2021-09-23 19:03] DiddiLeija commented on #471
Sorry, I didn't know. Post your PR, and if I have a way to improve it, I will tell you ;)

Excellent!

[2021-09-29 19:11] DiddiLeija opened #485 "Add a `debug` function for the session logging"
**How would this feature be useful?**

On #482, I introduced a `session.warn` functionality. Then, I started to use it on my local projects. And it works pretty fine! Now,
I would like to use... something like a `session.debug` method to expose "low errors".

**Describe the solution you'd like**

A `session.debug` function, or something similar.

**Describe alternatives you've considered**

N/A

[2021-09-30 15:54] choldgraf opened #486 "Allow hyphens as an alias for `_` from the CLI"
**How would this feature be useful?**
I have an irrational preference for hyphens `-` over underscores (`_`) because they don't require me to hit the `shift` key 😅. BUT, I cannot use hyphens to name my jobs because my sessions need to be python functions!

**Describe the solution you'd like**
It would be great if hyphens were treated like underscores at invocation, so I could do `nox -s docs-build

[2021-09-30 16:29] DiddiLeija commented on #486
I tried to reproduce this, and I found that you can use hyphens using `@nox.session(name="name-with-hyphens")`:

My noxfile:

[code]

My output:

[code]

Can you try this, and tell us if it doesn't work?

[2021-09-30 17:32] choldgraf commented on #486
omg it works! yessss thank you :-)

I should really read the docs more closely - maybe it would be helpful if "Session name" were something like "Custom session name"? Either way, I will close this!

[2021-09-30 17:32] #486 closed

[2021-09-30 18:50] DiddiLeija opened #487 "Would you like to release a new Nox version?"
Hi everyone,

I have noticed that the latest version of `nox` [was released on June, 13](https://github.com/theacodes/nox/releases/tag/2021.6.12). Since that, [we made some useful changes](https://github.com/theacodes/nox/compare/2021.6.12...main). So, I would like to ask: _Would you like to release a new version?_

I'm not a maintainer, but if I can help with something, please tell me ;)

[2021-10-01 13:07] theacodes commented on #487
Done. :) https://github.com/theacodes/nox/releases/tag/2021.10.1

[2021-10-01 13:07] #487 closed

[2021-10-01 13:12] DiddiLeija commented on #487
Thanks @theacodes! :D

[2021-10-01 15:59] henryiii opened #488 "[BUG] --no-reuse-existing-virtualenvs doesn't seem to work"
**Describe the bug**

Adding `--no-reuse-existing-virtualenvs` does not seem to ignore the cache, and instead just reuses the existing environments anyway. Happened on the previous version, and then did a `brew upgrade`, and 2021.10.1 also has this problem. Unless I misunderstand this option, pretty sure it's broken.

**How to reproduce**

[code]
(simplified slightly, should be unimportant)

[code

[2021-10-01 16:19] cjolowicz commented on #488
Thanks for reporting this. This appears to be the culprit:

https://github.com/theacodes/nox/blob/73d14b11e6f45d3269544811ddcb0000875ce312/nox/sessions.py#L580-L582

Judging from a quick look at the history, `--no-reuse-existing-virtualenvs` only ever worked with respect to a global `nox.options` setting, not with respect to a per-session `reuse_venv` setting.

It would be nice to support this use

[2021-10-01 16:23] henryiii commented on #488
So the behavior could be:

* If either is None, use the other one.
* If either is False, don't reuse venvs.
* Otherwise, reuse.

| local | global | Behavior |
|====|======|======|
| Unset | Unset | Don't reuse |
| Unset | Unset | Don't reuse |
| Unset | Unset | Don't reuse |
| Unset | Unset | Don't reuse |
| Unset | Unset | Don't reuse |

[2021-10-01 16:35] cjolowicz commented on #488
Hmm.. Ideally we'd do the following (but it's more work):

1. Use the command-line option if it's set (either way).
2. Use the per-session setting from the noxfile, if it's not None.
3. Use the global `nox.options` setting from the noxfile, if it's not None.
4. Don't reuse.

So this would split your `True/False` row in two cases, depending on where the global setting comes from.

Consider this nox

[2021-10-01 16:39] cjolowicz commented on #488
And, for completeness, your `False/True` row would also be split:

[code]

So this would not reuse `test` by default, but you could run `nox -rs test` to override.

[2021-10-01 16:42] henryiii commented on #488
There is a very easy workaround for the above, though - don't set `nox.options.reuse_existing_virtualenvs = False` (or set it to none). This gives you a quick way to drop a line in (`nox.options.reuse_existing_virtualenvs = False`) to override all `reuse_venv`s to False (otherwise, why would you add a line like that?)

Same is true if you set `reuse_venvs=False`, I don't think if you explicitly st

[2021-10-01 16:48] theacodes commented on #488
This behavior is definitely ambiguous if we're just using True/False. What do y'all think using "yes", "no", "always" and "never"?

So:

* Command-line `--reuse=yes` reuses envs for all sessions except ones marked "never".
* Command-line `--reuse=no` (or unset) only reuses sessions marked "always".
* Command-line `--reuse=always` forces every session to re-use its env.
* Command-line `--reuse=neve

[2021-10-01 16:53] cjolowicz commented on #488
Yes, I think that solves it nicely!

[2021-10-01 17:06] theacodes commented on #488
@henryiii that doesn't cover the same set of behaviors I described.

Also, we can keep the existing long name- I was just being brief. If y'all wanna shorten it to reuse with the old name being an alias go ahead.

[2021-10-01 17:14] DiddiLeija commented on #485
What do you think? Can I work on this?

[2021-10-01 17:15] henryiii commented on #488
I do like `--reuse-venv=<stuff>` or `--reuse=<stuff>` better, as the current name is very cumbersome and will be even longer when `=<stuff>` is added. Also, chain it to an option from a flag is not backward-compatible, `--no-reuse_existing_virtualenvs` won't work anymore, etc. So seems a good time to simplify a bit. I like `--reuse-venv`, similar to `reuse_venv` in sessions, personally.

I feel li

[2021-10-01 17:18] henryiii commented on #488
Also, `@nox.session(reuse_venvs="always"):` and `@nox.session(reuse_venvs="never"):` would be invalid, they can be overridden by the command line option, so they aren't "always" and "never".

[2021-10-01 17:33] theacodes commented on #488
There is lots of precedence for this in existing Python code.

I still think using True/False for the decorator leads to ambiguity, and especially if the command-line/global option is a string it feels odd to have the per-session one be a bool. It also is strange to have a value be valid for global options but not for a per-session option.

Since this describes a specific behavior and *not* a simp

[2021-10-01 17:34] theacodes commented on #485
Go for it

[2021-10-01 17:49] henryiii commented on #488
This is fine when it's needed. I'm aware of Literals, python's string comparisons for short strings, etc. My worry is about ambiguity and over-specification. Also, there's also lots of bad precedence too. ;)

False and None are useful different behaviors. `reuse_venvs=None` means you didn't pass it, and might not care about it being reused. `reuse_venvs=False` means you explicitly don't want this

[2021-10-01 17:53] henryiii commented on #488
If you wanted strings for reuse_venv, "default", "no", and "yes" would be identical to "no", "never", and "yes"/"always" (there is no difference between "yes" and "always" when set locally, by the way). But if you have different literals, and three of them, with these meanings, why not just stay with None/True/False?

[2021-10-01 18:03] theacodes commented on #488
Alright, I think I understand what you're getting at:

* Without anything passed on the command-line, sessions marked `True` will be reused - this is the default behavior and matches the intended current behavior.
* Command-line `--reuse` (`True`) reuses envs for all sessions except ones marked `False`. This matches the intended current behavior.
* Command-line `--reuse=always` forces every sessio

[2021-10-01 19:59] rmorshea commented on #398
In retrospect, I don't think it's worth troubling people with renaming `Session.notify` - the core problem is that it's not documented very well. The additional API docs provided by #467 are useful, but having a section in the tutorial document would give it the exposure it needs because, at present, you have to dig through the API docs to find out about it.

[2021-10-03 14:49] choldgraf commented on #260
Just a quick note that I got a pretty lightweight script working with simple `environment.yml` files - it uses pyyaml and assumes that the final entry in `dependencies` is a `pip` entry, but could be made a bit smarter with one or two extra lines.

Sharing here in case it's useful for others!

[code]

[2021-10-05 05:09] #485 closed

[2021-10-05 14:20] DiddiLeija opened #491 "Documentation: Is Python 2 still supported?"
Hi everyone!

I was reading the docs and I found that [the documentation](https://nox.thea.codes/en/stable/config.html#configuring-a-session-s-virtualenv) included an example of setting Python 2.7 as the Python version for the virtualenv. As far as I know, Python 2 is not supported now. So maybe we should remove any reference to Python 2? Or am I misunderstanding something here?

[2021-10-05 17:10] theacodes commented on #491
Nox itself can not run under Python 2.7, however, Nox can still create sessions using Python 2.7 as the interpreter version.

[2021-10-05 17:23] DiddiLeija commented on #491
Oh, got it. Sorry for the noise?

[2021-10-05 17:23] #491 closed

[2021-10-05 17:56] theacodes commented on #491
No worries!

On Tue, Oct 5, 2021, 1:23 PM Diego Ramirez ***@***.***> wrote:

[2021-10-06 01:33] nawatts opened #492 "Invalid `--keywords` expression raises a SyntaxError"
**How would this feature be useful?**

Currently, providing a `--keywords` argument that is not a valid expression causes Nox to crash with a SyntaxError.

[code]

The value of the `--keywords` argument should be a Python expression. That expression is evaluated to filter the list of sessions.

https://github.com/theacodes/nox/blob/a2bd140ed9702428d3fc93be9857879388f21ad0/nox/manifest.py#L347-L350

[2021-10-06 06:26] kbaikov opened #494 "DeprecationWarning: the load_module() method is deprecated and slated for removal in Python 3.12"
**Describe the bug**

When i run nox with python warnings enabled the deprecation warning appears:
`<frozen importlib._bootstrap>:283: DeprecationWarning: the load_module() method is deprecated and slated for removal in Python 3.12; use exec_module() instead`

**How to reproduce**

Enable python warnings.
run nox.

nox --version
2021.10.1

 python -V
Python 3.10.0

OS: windows 10

**Expected behav

[2021-10-06 12:00] FollowTheProcess commented on #494
Hi @kbaikov Thanks for raising this!

[2021-10-06 12:17] FollowTheProcess commented on #492
Closing due to fix in #493 Thanks 🎉

[2021-10-06 12:17] #492 closed

[2021-10-06 12:18] FollowTheProcess commented on #492
Sorry didn't fully read! Issue refers to a slightly different feature than the fix in #493. My bad!

[2021-10-06 12:44] nawatts commented on #492
Sorry, I did kind of conflate two separate, though related, issues here.

[2021-10-06 13:01] DiddiLeija commented on #494
If we have to remove `load_module()`, I offer to make the switch.

[2021-10-06 13:18] DiddiLeija commented on #494
Good point. Anyway, tell me if I can help with something :)

[2021-10-06 13:21] DiddiLeija opened #497 "Enable ReadTheDocs builds for pull requests"
**How would this feature be useful?**

Sometimes, a pull request modifies the Nox documentation. But we cannot see how does the final document looks until the PR is merged.

**Describe the solution you'd like**

That one of the RTD project maintainers (@theacodes or @dhermes) enable this option on the settings. The reference about doing this can be found [here](https://docs.readthedocs.io/en/stabl

[2021-10-06 15:33] FollowTheProcess commented on #497
@DiddiLeija If you run `nox -s docs` locally it will build the docs and automatically serve them up in the default web browser for exactly this reason! 👍🏻

It also watches files for changes so if you edit the docs, you can see the output live in your browser window.

[2021-10-06 16:03] DiddiLeija commented on #497
That's true (I run `nox -s docs` when I want to see the docs, and that's just great). But sometimes (specially when I only use the browser without a Git clone), it would be fine to see the final product on ReadTheDocs.

[2021-10-07 16:35] cjolowicz commented on #497
FWIW I counted 5 PRs with docs changes in 2021.10.1, out of a total 18. For 2021.6.6 it was 7 out of 28 PRs.

[2021-10-07 16:44] theacodes commented on #497
Even though I'm paying to support RTD, I also feel like this is unnecessary
for us. That's not a "no, never" that's a "not right now".

On Thu, Oct 7, 2021, 12:36 PM Claudio Jolowicz ***@***.***>
wrote:

[2021-10-07 18:22] #497 closed, assigned to nobody

[2021-10-09 11:28] kbaikov commented on #494
@FollowTheProcess thank you. That was not a trivial fix! And fast!

[2021-10-22 19:38] henryiii opened #502 "Provide a FORCE_COLOR variable?"
**How would this feature be useful?**

On GitHub Actions, getting nox to print out color is a bit painful. You have to remember to add a `--forcecolor` every invocation (I happen to have one that does a ton of nox calls).

**Describe the solution you'd like**

A new variable, either `FORCE_COLOR`, or `NOX_FORCE_COLOR`, something like that, could be added to imply `--forcecolor`. If both `FORCE_COL

[2021-10-24 01:47] henryiii commented on #502
Yep, I did. I'm aware of the standard [^1], and I'd have `NO_COLOR` take priority over `*FORCE_COLOR`. I rather it had been some sort of COLOR=<number>, where 0 was no color, and 1 was color or maybe even 1-4 depending on how much color (which is what plumbum does, though like Rich, not with envvars).

[^1]: Though I probably should implement it in `plumbum.colorlib`, and haven't yet. :( Partially

[2021-11-08 14:43] smarie commented on #453
See also #167, maybe this is a duplicate ?

[2021-11-12 23:17] rhoban13 opened #503 "Running with `--no-venv` causes `session.install` to use unexpected interpreter"
**Describe the bug**
Running with `--no-venv` causes `session.install` to be invoked with the `python` executable found on `PATH`, not the one running `nox`.

**How to reproduce**
Running in an environment where the executables `python` and `python3.8` are distinct:
[code]

My `noxfile.py` just installs `pytest`.  Running we obtain:

[code]

Ignore the "No module named pip", the point being it's i

[2021-11-13 04:41] cjolowicz commented on #503
Thanks for reporting this!

That should work. You can check if `self._runner.venv` is an instance of `PassthroughEnv`, as that's the one that implements the `--no-venv` feature.

[2021-11-13 12:32] theacodes commented on #503
I feel like invoking "install" without a virtual environment should be an
error, since all sorts of unexpected behavior can happen. If someone wants
to actually install something in the global python interpreter, they can
run pip install via session.run.

On Fri, Nov 12, 2021, 11:41 PM Claudio Jolowicz ***@***.***>
wrote:

[2021-11-14 17:20] rhoban13 commented on #503
I agree you typically shouldn't install things into the global python interpreter, however that doesn't seem  like it should be `nox`'s responsibility to validate.  This is basically why [pip --require-virtualenv](https://pip.pypa.io/en/latest/cli/pip/#cmdoption-require-virtualenv) exists, I tend to export `PIP_REQUIRE_VIRTUALENV` in most setups to check this.

[2021-11-14 18:06] theacodes commented on #503
Okay, sure, but I still don't think Nox should have a footgun like this
that's only turned off if the user knows some arcane pip stuff. We could
raise a helpful error when trying to use install without a virtualenv,
something like:

session.install() since it would modify the global Python environment. If
you're really sure that is what you want to do, use session.run("pip",
"install", ...) instea

[2021-11-14 18:11] DiddiLeija commented on #503
Yup, an error message (or even just a warning) would be better than doing pip variable manipulations. If you want, in the next week I can post a PR to do this. We only need to sketch how the message should look like ;)

[2021-11-15 04:53] cjolowicz commented on #503
I agree that `session.install` without a venv backend is dangerous, and it would be better to raise a helpful error here. However, this is a breaking change, and there are projects out there that rely on the current behavior (e.g. [here](https://github.com/drhagen/parsita/blob/master/noxfile.py)). This behavior was explicitly allowed in #316, see #318 and #301 for background. Should we go through

[2021-11-15 15:09] rhoban13 commented on #503
https://github.com/theacodes/nox/issues/301 is exactly the use case I'm interested in.

[2021-11-18 15:05] DiddiLeija opened #504 "Redundant license inclusion on MANIFEST.in"
I was reading the `MANIFEST.in` file, and found this line:

https://github.com/theacodes/nox/blob/7443a93582a47a7dc680d90d6afeb686368e3985/MANIFEST.in#L1

However, https://packaging.python.org/guides/using-manifest-in/#how-files-are-included-in-an-sdist says that the license file defined by `license_file` (at `setup.cfg`) is included by default by newer versions of Setuptools. The `license_file` i

[2021-11-18 16:18] cjolowicz commented on #504
Thanks for catching that! We require setuptools > 42 in our pyproject.toml, so removing the line from MANIFEST.in should be safe.￼

[2021-11-18 18:23] DiddiLeija commented on #504
Excellent! I'll post a PR in a few muntes.

[2021-11-18 18:34] DiddiLeija commented on #504
I created #505 to fix this.

[2021-11-19 04:41] #504 closed

[2021-11-24 15:01] DiddiLeija opened #507 "Missing copyright notices?"
**Describe the bug**

I don't know a lot about the Apache License. But as far as I know, the code should contain a copyright notice, according to these
lines: https://github.com/theacodes/nox/blob/main/LICENSE#L189-L201

However, I just noticed that these files does not contain that notice:

- https://github.com/theacodes/nox/blob/e7ae509ac1b46820953cb8a5793c95d47070928c/nox/_decorators.py
- https

[2021-11-24 18:47] DiddiLeija commented on #507
Since this is a license/copyright issue, I want to know @theacodes opinion.

[2021-11-26 16:04] theacodes commented on #507
Sure, they should be added.

On Wed, Nov 24, 2021 at 1:47 PM Diego Ramirez ***@***.***>
wrote:

[2021-11-26 17:03] DiddiLeija commented on #507
Ok. Can I work on it? Or would you like to do it? Also, I noticed that the existing notices have different dates: 2016, 2017, 2019... Is that ok?

[2021-11-26 17:18] theacodes commented on #507
Yes, the date is the date of original publication.

On Fri, Nov 26, 2021, 12:03 PM Diego Ramirez ***@***.***>
wrote:

[2021-11-26 18:23] DiddiLeija commented on #507
Ok. If you agree, the next week I'll investigate the publication date of the missing files, and post a PR to add the copyright notices. Of course, if you don't disagree :smile:.

[2021-11-26 18:31] theacodes commented on #507
Totally fine with me 🙂

On Fri, Nov 26, 2021, 1:23 PM Diego Ramirez ***@***.***>
wrote:

[2021-11-29 19:49] DiddiLeija commented on #507
@theacodes, I created #509 to fix this. Please review it and tell me if I should add the copyright in another place :smiley:.

[2021-11-29 21:23] #507 closed

[2021-12-09 04:54] cblegare opened #512 "Run commands from within a specific directory"
**How would this feature be useful?**

Since many commands have specific usages of the current working directory,
running commands from within a specific directory would smooth integrating nox
is existing projects.

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

[code]

[2021-12-09 17:14] cblegare commented on #512
As a workaround, see the following context manage implementation

[code]

[2021-12-16 14:26] thatcr opened #514 "conda bin_paths are missing `Library\...` subdirectories on windows"
**Describe the bug**

When running python code that requires external executables from `conda` packages - i.e. `ipopt`, they cannot be found on the PATH.

**How to reproduce**

This noxfile fails - it should find 'ipopt.exe' on the PATH:
[code]

**Expected behavior**

The PATH should be set to include the same entries as Anaconda's `cwp.py` provides:
[code]

[2021-12-21 03:42] ktbarrett opened #515 "Convenience method to install nox as git pre-commit hook"
**How would this feature be useful?**
I often write "check" tasks which I like to run as a pre-commit hook. I modified a pre-commit (the tool) generated file to handle this that I reuse and modify for each project. It would be nice if generating and installing a pre-commit hooks to run a particular session was built into the tool.

The pre-commit hook I use that I modified from pre-commit (tool)'s

[2021-12-21 06:24] ktbarrett opened #516 "continue on error"
**How would this feature be useful?**

I have nox set up to run checks. If a check fails, then nox immediately fails the session and none of the remaining checks are run.

**Describe alternatives you've considered**

`session.run`'s `error_code`s arguments is an expected failure. It's not what i'm looking for. I want the session to fail if one of the checks fails, but I want all the checks to run.

[2021-12-21 06:31] ktbarrett opened #517 "Document how runs cause sessions to fail"
**How would this feature be useful?**

I need to always run cleanup code when a task fails. I didn't know how to accomplish that until I realized that sessions fail when `session.run`s raise `CommandFailed`. The use of exceptions here means I can cleanup by using a finally block. For example,

[code]

**Describe the solution you'd like**

Taking the outcome of #516 into account, documenting that t

[2021-12-21 06:40] ktbarrett commented on #516
Perhaps something like the following? `try_run` would return an `Optional[CommandFailed]`. The user could access the session outcome and add into the outcome the failures that matter to them.

[code]

[2021-12-21 11:04] cjolowicz commented on #515
Why not leverage [pre-commit](https://pre-commit.com) itself? You can drop a `.pre-commit-config.yaml` like this into your project:

[code]

You can install the pre-commit hook using `pre-commit install`.

Here's an example noxfile.py you could use with this:

[code]

Here `pre-commit` will invoke Nox with the Python files staged for each commit, and Nox will forward them to Flake8. (Obviously if

[2021-12-21 11:21] cjolowicz commented on #516
Have you considered running the checks in separate Nox sessions? By default, Nox will then run all checks and report failure if any check fails.

I'd probably leave the git integration to pre-commit, as a mature solution for this kind of thing. As discussed in #515, a common setup is to invoke pre-commit from Nox. You could then use a standard pre-commit configuration with isort and black. As for

[2021-12-21 14:24] ktbarrett commented on #515
I am well aware of pre-commit. Running nox per-file will be a huge overhead. It's just not a reasonable solution.

Exactly...

That makes no sense to me.

The whole point is to replace pre-commit with nox, since it really wouldn't take much effort, there is a lot of overlap in functionality, and nox being the more capable tool. I'm also trying to avoid pre-commit's decision to only run checks *per

[2021-12-21 14:45] ktbarrett commented on #516
That makes it kind of obnoxious to run them all from the command line. First, you can't use the argument syntax, since it doesn't support multiple sessions, you have to use the environment variable syntax. Second you have to remember all the checks you want to run. Not having to do that is one of the advantages of using nox.

I *suppose* I could run nox recursively to work-around doing that, but t

[2021-12-22 14:15] cjolowicz commented on #515
I'm not sure I understand which overhead you refer to, can you elaborate?

In the example I gave, Nox is invoked once per commit, with files passed on the command-line after the `--` separator. It should run somewhat faster than what you proposed above, by virtue of linting only files touched by the commit.

The effort may be small if we limit git integration to the specific use case you presented

[2021-12-22 14:54] cjolowicz commented on #517
Thanks for catching this! Indeed, the documentation is not explicit about what happens when a command run via `session.run` fails. This could be a sentence added to the docstring of `nox.sessions.Session.run`.

I also agree that mentioning the pattern of wrapping a `try...finally` around `session.run` for cleanup actions is worth mentioning. Not sure about mentioning `CommandFailed` specifically,

[2021-12-22 15:00] cjolowicz commented on #516
I'm not sure I understand what you mean by "argument syntax" and "environment variable syntax", can you clarify?

FWIW, you can specify multiple sessions like this: `nox -s lint mypy`.

If you want to run all the sessions defined in noxfile.py, you can simply invoke `nox`. If there are sessions that shouldn't run by default, you can define `nox.sessions` in noxfile.py. Like this:

[code]

I don't

[2021-12-22 15:09] cjolowicz commented on #516
Yet another option would be to have a wrapper session using `session.notify`.

[code]

I'd go for the simpler solutions listed above, unless you need added flexibility (e.g. multiple wrapper sessions).

[2021-12-22 16:59] cjolowicz commented on #514
Thanks for reporting this, makes sense.

IIUC we should emulate the way `conda activate` changes the environment variables. What would be a portable and maintainable way to do this?

[2021-12-22 17:07] cjolowicz commented on #514
If you'd like to have a go at this, take a look at `CondaEnv.bin_paths`:

https://github.com/theacodes/nox/blob/441b2bc666e209757bdccafd647083493e14c1cc/nox/virtualenv.py#L218-L225

The `bin_paths` are used to locate the commands passed to `session.run`:

https://github.com/theacodes/nox/blob/441b2bc666e209757bdccafd647083493e14c1cc/nox/sessions.py#L360

[2021-12-22 17:22] cjolowicz commented on #468
Can this be closed?

[2021-12-22 17:25] #468 closed

[2021-12-22 17:35] #298 closed

[2021-12-22 17:38] FollowTheProcess opened #520 "Conda tests session should skip rather than fail if conda not installed"
**Describe the bug**

While quickly doing #519, I noticed that running bare `nox` on my machine results in somewhat unattractive looking failures:

<img width="709" alt="image" src="https://user-images.githubusercontent.com/62767721/147132932-80c1d7df-7904-4df4-a08a-a38aa821c78a.png">

I think a better solution would be to first check if the user has `conda` and skip this session if not (much like

[2021-12-22 17:44] #444 closed

[2021-12-22 17:49] DiddiLeija commented on #520
I can reproduce this using Windows. I think skipping `conda_tests` could be useful. Actually, we can add something to `nox.session` to add a conditional to skip sessions?

[2021-12-22 17:54] FollowTheProcess commented on #520
@DiddiLeija Yeah potentially, something like

[code]

Kind of like pytest's `mark.skipif`.

I think this could be a bit complex to implement though and might be better served with the simple `nox.options.sessions` filter?

[2021-12-22 18:00] DiddiLeija commented on #520
Yup. I'm looking for something like that.

I will take a closer look for this idea later, probably next year.

[2021-12-22 18:11] #471 closed

[2021-12-22 20:16] henryiii commented on #515
This is not a decision pre-commit makes, it's one you make. Set `pass_filenames: false` on a hook that needs to run once instead of per-file. Done.

This is not remotely true. They are _different_ tools. pre-commit can run any check, and fully locks dependencies, and auto-updates, and so much more.

From https://scikit-hep.org/developer/tasks:

[code]

And use https://scikit-hep.org/developer/task

[2021-12-22 21:17] FollowTheProcess commented on #520
@DiddiLeija I've just found out `session.skip` is already a thing!

[2021-12-22 21:58] #520 closed

[2021-12-22 22:51] #446 closed

[2021-12-23 10:11] #502 closed

[2021-12-23 10:24] FollowTheProcess opened #525 "Dropping support for python 3.6 EOL?"
Obviously no real rush for this, but as today marks the official [EOL Date](https://endoflife.date/python) of python 3.6 I thought we should track it/discuss how to proceed.

Perhaps add a deprecation warning first in the next release and then drop support in the next one, or just straight drop 3.6?

[2021-12-23 12:41] Tolker-KU commented on #514
Is a viable solution simply to hardcode the correct paths into the .bin_paths property in CondaEnv? The advantage of this approach is that it is easy to implement and very transparent.

Another approach is to hook into Conda in some way to retrieve the correct paths but this would be a lot more cumbersome to implement.

Both approaches are probably equally exposed to Conda changing something in it

[2021-12-23 12:42] Tolker-KU commented on #143
This seems like a very cool feature. Any thoughts on going ahead with it?

[2021-12-23 12:49] cjolowicz commented on #465
I feel this conflates two separate issues:

1. When `nox.options.sessions` is an empty list, no session should run by default.
2. When no session is selected, Nox should print something helpful. (Currently Nox just exits with code 3.)

See the function `verify_manifest_nonempty` for the second point. Before returning `3`, we should print something useful. Either this would be just a message that n

[2021-12-23 13:34] FollowTheProcess commented on #465
@cjolowicz Makes perfect sense to me. I think the latter option is the better one but is slightly more work to implement

[2021-12-23 13:41] henryiii commented on #465
I'm confused, I see the following options:

* `nox.options.sessions` is default, nothing passed: run all sessions
* `nox.options.sessions` is `[]`, nothing passed: run nothing, show --list
* `nox.options.sessions` is anything, anything _valid_ is passed, run whatever was passed
* `nox.options.sessions` is anything, anything _invalid_ is passed, exit with code 3.

The current implementation handles

[2021-12-23 13:43] henryiii commented on #465
And it does print when it produces error code 3:

[code]

[2021-12-23 13:50] cjolowicz commented on #465
You would reach the "no sessions" case when filtering by keywords or pythons:

[code]

Passing an invalid session name is currently a different error condition, handled in `filter_manifest`. We may want to handle this similarly though. It would be helpful to list sessions or mention `nox --list` here as well.

[2021-12-23 14:08] cjolowicz commented on #465
We may want to consider that the session listing can make it hard to see the actual error message, which would be one of the following:

- You need to specify a session. (For the case where `nox.options.sessions` is an empty list.)
- The specified session was not found.
- The keywords did not match any sessions.
- There is no session for the Python version specified.

So this would be a reason to

[2021-12-23 14:21] cjolowicz commented on #525
I think we can drop Python 3.6, no need for a deprecation.

(And to be clear, this about installing Nox on Python 3.6. Nox will still create and run sessions on old Pythons.)

[2021-12-23 14:27] DiddiLeija commented on #525
I'll take this. And I agree with @cjolowicz, we won't need a warning.

[2021-12-23 15:02] henryiii commented on #465
As a package author, I want to show a list instead of running some default subset (or all) if a user doesn't know how to run a session. I'd be fine in nox added a little `No sessions selected. Please select a session with -s <session name>.\n` header.

Currently, ~~the empty session case is untouched~~. `nox -k nothing` does exactly what it did before, it prints nothing and returns an error code.

[2021-12-23 15:16] henryiii commented on #465
Is there a way to get the original manifest?

[2021-12-23 15:39] henryiii commented on #465
I think I have something working, just need to clean up the tests. I'm moving all failures to filter_manifest (there are already some there anyway), that's when it knows _why_ things are failing already.

[2021-12-23 17:15] henryiii commented on #465
Adding `nox.options.sessions = []` to the main nox noxfile as a demo and trying some examples:

[code]

(`--list` slightly broken, will fix!)

[2021-12-23 18:04] ktbarrett commented on #516
After looking for it I found it [here](https://nox.thea.codes/en/stable/usage.html#specifying-one-or-more-sessions). I'm not about to scour the documentation, but I don't remember seeing any other examples except the second line in the first example I linked (that I missed) and its not explicitly stated. Could be clearer.

Not a good solution. "Include everything, but not this stuff" smells funny.

[2021-12-23 18:15] ktbarrett commented on #517
Also, maybe I missed it, but I never saw it mentioned anywhere that `session.run` fails the current session immediately.

[2021-12-24 11:58] FollowTheProcess opened #531 "Do the `lint`, `docs` and `blacken` sessions really need to be pinned to specific pythons?"
In our noxfile, the `lint`, `doc`, and `blacken` sessions are pinned to specific pythons using:

[code]

As recently discovered (and quickly fixed! #529 Thanks @henryiii) this caused linting and docs building to quietly "pass" on GitHub actions (see [here](https://github.com/theacodes/nox/runs/4623345258?check_suite_focus=true)).

I can recall this happening once before too (however I can't seem t

[2021-12-24 12:49] cjolowicz commented on #531
For the docs session, prioritizing ease of contributing over a deterministic CI makes sense to me.

I'm less sure about the lint and blacken sessions. Flake8, mypy, isort, and black parse the Python AST. So it seems best to run them a well-defined version of Python, and probably the latest stable version. I agree that `--error-on-missing-interpreters` is a good idea for CI in this case.

[2021-12-24 13:31] cjolowicz commented on #516
Closing this, thanks for the feedback!

Do feel free to submit any improvements to the docs. For example, the tutorial mentions `--sessions` (with an `s`) [here], but an example using the option with more than one argument would indeed be helpful. Also, the docstring for `session.notify` could get a blurp about how this can be used to implement wrapper sessions.

[here]: https://nox.thea.codes/en/

[2021-12-24 13:31] #516 closed

[2021-12-24 13:39] cjolowicz commented on #515
Closing as it seems unlikely at this point that we'll support pre-commit hook installation in Nox.

Feel free to continue the discussion though. One tool commonly used with pre-commit that also offers its own hook implementation is [isort](https://pycqa.github.io/isort/docs/configuration/git_hook.html). So if we changed our mind, we'd probably want to take a look there. Note that isort is not in t

[2021-12-24 13:39] #515 closed

[2021-12-24 13:51] #531 closed

[2021-12-24 17:07] ktbarrett opened #534 "Open discussions, gitter, something"
**How would this feature be useful?**
Issues only have "feature request" or "bug report" format, no question format; so I assume issues are not for questions. Github discussions are disabled. There is no gitter or discord linked. So, where are questions or discussions about nox supposed to occur?

**Describe the solution you'd like**
I would like to see a gitter or discord. I participate in and mo

[2021-12-24 17:18] theacodes commented on #534
We can use the Winterbloom discord, since I'm considering moving Nox over to github.com/wntrblm so it's easier to manage the contributors and notifications.

I'll make a #nox channel and y'all can mute notifications for everything else if you want.

https://discord.gg/D35cxRxc

[2021-12-24 17:18] #534 closed

[2021-12-24 18:40] ktbarrett commented on #515
I understand people may ask for more features and I tend to agree that I don't like increasing project scope like that. Feature implementation is always up for discussion. And this is not an argument about whether pre-commit or nox are valid tools. In my case, the only value that pre-commit brings is the installation of git hooks. Using 2 tools when one would do is not an advantage. pre-commit doe

[2021-12-24 21:12] henryiii commented on #515
* isort natively supports pre-commit (the tool) too, by the way.

Can't this be used to argue against anything?

No it does not. Pre-commit carefully handles partial stages and untracked changes. Nox would not unless it duplicated all of this functionality - there's a ton of work to make pre-commit work well, and you are asking for that to be duplicated in nox, IMO.

pre-commit is just Python too

[2021-12-25 13:07] cjolowicz commented on #516
This will be fixed by #523 when merged

[2021-12-26 18:13] #517 closed

[2021-12-26 22:01] #514 closed

[2021-12-27 04:25] ktbarrett commented on #515
I was pointing it out since I have seen this a number of times where names/descriptions are chosen whose meaning is tied to the implementation a user might not know. I skip over them because I don't understand what they actually mean so I presume it's some advanced feature. But it turns out to be a very useful feature, even to novices. It's frustrating. Perhaps it's just a mistaken presumption it

[2021-12-27 13:58] DiddiLeija opened #540 "Weird GHA failures on pull requests"
This issue is mainly for tracking strange recent issues with GHA and our CI. This affected our pull requests.

Failing PRs I know:

- #526
- #537
- https://github.com/theacodes/nox/pull/538#issuecomment-1001550911

[2021-12-27 15:44] #406 closed

[2021-12-27 16:13] cjolowicz opened #541 "Prevent use of `session.install` in sessions without a virtual environment"
Calling `session.install` in sessions without a virtual environment was deprecated in #537. This should become a hard error two releases after 2021.10.1.

[2021-12-27 16:18] #503 closed

[2021-12-27 16:47] #465 closed

[2021-12-27 17:02] Tolker-KU commented on #540
As @henryiii pointed out this was probably related to an incident on Github's side. See https://www.githubstatus.com/incidents/gh0vvxtlj5v7. As it is closed now I think we can close this issue?

[2021-12-27 17:06] #540 closed

[2021-12-27 17:54] FollowTheProcess commented on #4
Going through some of the older issues to see if we can close any off. cc @cjolowicz

I'm not sure this one is still relevant? Perhaps we've changed stuff in the time since this was raised but I was able to install python 3.8.12 using pyenv and run a nox session utilising this python:

(I have python 3.10.1 (pyenv), python 3.9.9 (homebrew) and this python 3.8.12 (pyenv) on my machine)

[code]

Whi

[2021-12-27 18:18] cjolowicz commented on #4
Closing this as suggested by @FollowTheProcess . Happy to reopen if people want to pursue this further.

As far as I understand, there were two separate points raised in this issue:

1. Supporting pyenv-virtualenv as an additional venv backend.
2. Users experiencing problems where Nox does not use an interpreter installed with pyenv.

I'm not sure about the value of **1**, given that `pyenv-virtua

[2021-12-27 18:18] #4 closed

[2021-12-27 18:46] FollowTheProcess commented on #198
Continuing my walk through some older issues.

It sounds to me like there are two things being conflated here:

1) The ability to do something like `session.background` for launching a web server or other background tasks needed by _that session_. This could include calling other sessions but that's not really the main idea from the sounds of it.
2) The ability to do something like `nox --parallel

[2021-12-27 19:01] FollowTheProcess opened #544 "Support nox sessions running in parallel"
**How would this feature be useful?**

This has brought up in other issues a few times (see #198 #88), on the latter one it seemed like there was some conflation of
two different issues (supporting session parallelism and allowing sessions to launch background tasks). So I've broken this out into it's own issue.

#198 Brings up the idea of running tasks in the background from within a session (i.e

[2021-12-27 19:55] FollowTheProcess commented on #198
Just a thought on the API here, I think a context manager would be the cleanest way of doing this IMO, taking inspiration from how `concurrent.futures` handles things

Something like:

[code]

This has the advantages of:

* Consistency with how a user would think about launching a background process i.e. "I need this thing to run in the background _while_ this other thing happens"
* Consistency wi

[2021-12-28 11:50] #512 closed

[2021-12-28 12:19] FollowTheProcess opened #545 "Strange lint CI failure?"
**Describe the bug**

Noticed a lint job failure after merging #543 (which had no such failure on the PR):

See [here](https://github.com/theacodes/nox/runs/4649987680?check_suite_focus=true)

<img width="1206" alt="image" src="https://user-images.githubusercontent.com/62767721/147565500-a1658b05-f749-4071-a351-65d51af9e479.png">

I tried re-running but got the same outcome, then on my fork I trie

[2021-12-28 12:33] Tolker-KU opened #546 "Add mamba to options, error message, etc."
**How would this feature be useful?**
Mamba was recently added as an alternative to conda (see #448) but is missing in options and error messages. See for example

https://github.com/theacodes/nox/blob/f55e9c53581d78d9373eb2868837036fd598a7a1/nox/_options.py#L319

https://github.com/theacodes/nox/blob/f55e9c53581d78d9373eb2868837036fd598a7a1/nox/sessions.py#L677

**Describe the solution you'd like

[2021-12-28 13:00] cjolowicz commented on #545
I could only skim through them, but the failure may be related to these  issues:

- https://github.com/pypa/setuptools/issues/2353
- https://github.com/pypa/pip/issues/6264#issuecomment-685230919

Would updating setuptools in the runner's Python installation help?

[code]

I'm assuming here that `which python` prints `/opt/hostedtoolcache/Python/3.9.9/x64/bin/python`, as that's the runner's Python

[2021-12-28 13:08] FollowTheProcess commented on #545
Yep!

I tried `python -m pip install -U setuptools` too to no avail: [here](https://github.com/FollowTheProcess/nox/runs/4650346937?check_suite_focus=true)

Very strange

[2021-12-28 13:16] cjolowicz commented on #545
You need to invoke this outside of the virtualenv created by Nox.

Alternatively, use the full path:

[code]

[2021-12-28 13:19] cjolowicz commented on #545
Sorry I didn't see you were already doing this.

[2021-12-28 13:20] FollowTheProcess commented on #545
There was a new release of [virtualenv](https://github.com/pypa/virtualenv/blob/main/docs/changelog.rst#features---20110) today which bumped the embedded version of setuptools, that's next on my list!

[2021-12-28 13:30] FollowTheProcess commented on #545
It looks like virtualenv is the culprit! See my now passing lint run [here](https://github.com/FollowTheProcess/nox/runs/4650479594?check_suite_focus=true)

Pinning virtualenv to 20.10.0 inside the lint session has fixed it.

[pre-commit](https://github.com/pre-commit/pre-commit/blob/16f68254a84df8d69431bab2ba410770746b95bd/setup.cfg#L32) depends on `virtualenv>=20.0.8`

So it must have pulled in

[2021-12-28 13:59] #545 closed

[2021-12-28 17:26] ktbarrett commented on #515
Looks like I may have been partially correct about pre-commit not handling untracked changes. When running with `pass_filesname: false` it isn't stashing the `build/` directory which contains a copy of the source code, which then confuses mypy. It does handle partial staging on the same file though. Seems like they missed a few details.

[2021-12-28 18:16] henryiii commented on #531
Flake8, mypy, isort, and black all do try to be as consistent as possible. They might not support newer syntax from an older version, like 3.10+ only syntax when running on 3.9, but nox explicitly does not have anything that doesn't run on 3.6+ (soon 3.7+), so the runs should be exactly identical on 3.6+. I've never had an issue with avoiding pins for linters, and it is rather irritating to have t

[2021-12-28 19:01] #546 closed

[2021-12-28 19:17] FollowTheProcess opened #553 "Bump setuptools in pyproject.toml to >=51.0.0?"
**Describe the bug**

While doing some digging in the setuptools documentation I came across this section: https://setuptools.pypa.io/en/latest/userguide/declarative_config.html#options which (if I'm reading it correctly) suggests that in order to use the `options.entry_points` key (as we do in our `setup.cfg` [here](https://github.com/theacodes/nox/blob/8b12711d43a4c7b231c18c9b124501e4d23d5b53/se

[2021-12-28 21:00] DiddiLeija commented on #553
I agree. I don't know if we'll break something in the process, though.

[2021-12-29 12:26] Tolker-KU opened #554 "CondaEnv auto-offline behaviour with local package repositories"
**How would this feature be useful?**
Inside some companies a local repository of Conda packages is used. This means that a dev is able to connect to the local package repository and download packages without being able to access repo.anaconda.com. We are testing for access to this site when determining if CondaEnv should auto-offline:
https://github.com/theacodes/nox/blob/8b12711d43a4c7b231c18c9b

[2021-12-29 13:24] cjolowicz commented on #554
A question to those more familiar with conda than me:

Instead of automatically switching to offlline mode, can we expose conda's `--offline` flag through the Nox CLI, letting users choose offline mode explicitly?

Offline-mode seems to be a feature that should be controlled by the Nox user, not the Noxfile author. Our automatic offline detection seems error-prone at best. If this use case can be

[2021-12-29 17:16] henryiii commented on #553
What the... Pretty sure this is not new in [51](https://setuptools.pypa.io/en/latest/history.html#v51-0-0). It's been around as long as I can remember.

[2021-12-29 18:10] Tolker-KU commented on #554
I agree with all of this and I'm fan of making `--offline` a CLI argument.

The feature is described and introduced here FTR: #313 #314

[2021-12-29 18:29] henryiii commented on #553
Thinking they meant to put "41" not "51", perhaps.

[2022-01-04 20:57] henryiii commented on #218
Maybe dumb question: is there a way to get the output directly in a variable, without a file? I don't seem to be get a StringIO/BytesIO to work here, or a `redirect_stdout`. I get `io.UnsupportedOperation: fileno`.

[2022-01-04 20:57] henryiii commented on #218
Also, I don't think this was ever documented?

[2022-01-04 21:19] henryiii commented on #218
Ahh, output is returned if this is silent. I thought I'd done this somewhere before. (Ironically, probably for something very similar to what I'm doing now, grabbing a version).

[2022-01-06 05:07] henryiii opened #555 "Relative env-dir breaks tools"
**Describe the bug**

Nox currently sets TMPDIR to a relative path - this causes temporary directory creation to break for tools run after a `session.cd`. At least TMPDIR should be an absolute path - and maybe the return value from `session.create_tmp` should be absolute, too? (It really should be a `pathlib.Path`, but I'm referring to backwards compatible changes here ;) )

(see https://github.co

[2022-01-07 09:54] #555 closed

[2022-01-09 10:12] layday opened #557 "Consider preparing venv and virtualenv sessions without setuptools and wheel"
Provisioning test envs without setuptools and wheel can help catch undeclared dependencies on these two packages and will smoothen the eventual transition to a setuptool-less pip and ensurepip (and therefore venv), for packages which continue to rely on pip's legacy install mechanism or direct `setup.py` invocation.  This will cause breakage but the (interim) solution will be a simple `session.ins

[2022-01-09 11:16] layday commented on #553
Pretty sure that existed even before 41. In fact it appears to have been there in the very first version of `setup.cfg`: https://github.com/pypa/setuptools/pull/862.

[2022-01-09 12:17] cjolowicz commented on #553
Closing as per https://github.com/theacodes/nox/issues/553#issuecomment-1008277811, thanks @layday

[2022-01-09 12:17] #553 closed

[2022-01-09 12:38] cjolowicz commented on #557
I agree that removing hidden dependencies on setuptools and wheel is the path forward for the ecosystem. But I'm not sure that Nox should be the one to force this. Nox does not install these packages into environments, virtualenv does. Users can already catch undeclared dependencies by exporting `VIRTUALENV_NO_SETUPTOOLS` and `VIRTUALENV_NO_WHEEL` when invoking Nox.

What's virtualenv's strategy h

[2022-01-09 13:00] cjolowicz commented on #557
FWIW virtualenv installs setuptools and wheel by default, `python -m venv` installs setuptools, not wheel.

[code]

[code]

[2022-01-09 13:03] gaborbernat commented on #557
IMHO this is a decision for nox/tox maintainers. I'd be +1 for it.

[2022-01-09 16:51] cjolowicz commented on #557
I'm still worried about the fallout of this move.

Take pbr which has almost 50 dependents among the top 5000 PyPI packages, such as mock and bandit. This decision does not affect just the offending packages like pbr, or even their users, like bandit. It will affect any package that uses bandit for their checks (and their checks will break the moment bandit is imported, so every time).

Would it b

[2022-01-11 07:42] gschaffner opened #558 "Session().python is None when Session() is using the same interpreter as Nox"
Hi! Thanks for sharing this great software.

**Describe the bug**
It would be useful if `Session().python` was set even when the `@session` decorator did not receive an argument for `python` or `py`. I am not sure if this should be categorized as a bug or a feature request, however, as `Session().python` is currently documented as

https://github.com/theacodes/nox/blob/386659e446aacdd681b5e1f25db6

[2022-01-11 08:36] gschaffner commented on #558
The following would give the behavior proposed above:

[code]

This passes current tests on 3.9. Due to unfamiliarity with the codebase I am not sure if this is the best approach though---let me know, I am curious!

The version string finding implemented above was tested manually on CPython 3.10.0 and PyPy 3.8-7.3.7. I didn't test any other implementations as I was not sure what the standard for t

[2022-01-11 09:32] cjolowicz commented on #558
Thanks for the report!

I'm wondering, why not just use `sys.version_info` in your noxfile?

`session.python` behaves as designed and documented: it returns what was passed into the `@session` decorator.

If we change it to actively identify the interpreter (but only when `None` was passed), I see a few issues:

1. We break backwards compatibility: The function no longer returns `None`, so now it

[2022-01-11 17:45] FollowTheProcess commented on #557
I'd be cautious of this personally. I can't recall an exact working (or rather breaking) example right now but I've created several environments in the past where the lack of wheel or an outdated version of setuptools has caused installation problems.

Packages like Numpy and Pandas on macOS fall into this category most often where I've found the lack of wheel causing compilation from source and t

[2022-01-11 17:53] gaborbernat commented on #557
IMHO the early adopter here should be nox/tox because people using those are probably mildly advanced and care enough about best practices to fix it. I don't see who else are we expecting to make this change. Besides with pip the latest pip implementing PEP-660 there's no more case when pip would use the provisioned wheels/setuptools.

[2022-01-11 18:09] FollowTheProcess commented on #557
Huh, cool! I wasn't aware of this, thanks!

[2022-01-11 18:14] layday commented on #557
That was my thinking too, that an isolated testing environment is the best place to start, and that it might reduce the fallout, not for nox, but for pip when pip gets around to flicking that dreaded switch.  However, there's a real danger that instead of adopting a PEP 517-based workflow, nox users will take the easy way out by installing setuptools and wheel, and we'll have squandered a rare opp

[2022-01-11 18:27] FollowTheProcess commented on #544
Just some further thoughts on this (mainly brainstorming). There are two major sticking points that I can see:

- Synchronising or gathering up the console output from concurrently executing sessions and showing it in a sensible non-garbled way
- The fact that any given session can mutate the manifest (`session.notify`) and this is only known at runtime AFAIK?

Potential solutions I can see:

**Ou

[2022-01-11 21:07] cjolowicz commented on #557
The problem is that they can't actually fix it. They can only work around it, and report it upstream.

So users will be broken if their dependency tree includes setup.py-only packages with only sdist available on PyPI? That seems like a  considerable problem in itself.

But my concerns above were unrelated to pip and build dependencies, they were about runtime dependencies. This may not have been

[2022-01-11 21:13] henryiii opened #559 "readthedocs broken"
**Describe the bug**

The docs are broken, the "stable" release did not build after the recent release (missing from changelog), with:

[code]

See https://readthedocs.org/projects/nox/builds/

This should be fixable by setting a minimum version on some of the docs dependencies (why are those mixed with the test dependencies?) - readthedocs installs old versions of things by default, and then it's

[2022-01-11 21:15] henryiii commented on #559
PS: I think @dhermes or @theacodes is required for adding PR builds & changing the "latest" target branch.

[2022-01-11 21:17] dhermes commented on #559
I can confirm I have admin on the RTD project.

[2022-01-11 21:21] henryiii commented on #559
I checked, readthedocs runs `pip install ... sphinx<2 ...` before installing any project. Sphinx<2 does not support Python 3.9. Have I [mentioned I hate version capping](https://iscinumpy.dev/post/bound-version-constraints/)? At least it's not an actual requirement. I knew they did that, but even on Python 3.9+, that I was not expecting. Fixing it should be as simple as adding `sphinx>=2` (or 3 or

[2022-01-11 21:21] dhermes commented on #559
So far I have explicitly set the default branch to `main` in https://readthedocs.org/dashboard/nox/advanced/ and kicked off a `latest` build (https://readthedocs.org/projects/nox/builds/15742724/) to ensure it pulls `main`

[2022-01-11 21:21] henryiii commented on #559
If you want to activate PR readthedocs builds I can make a PR with that fix.

[2022-01-11 21:22] dhermes commented on #559
Will do (though I'm going to turn it off after it's fixed, it's a big use of resources for not much return IMO).

IMO we should also check in a `.readthedocs.yml`

[2022-01-11 21:23] dhermes commented on #559
PR builds are now enabled

[2022-01-11 21:25] henryiii commented on #559
There is one, that's what's setting 3.10. I find PR builds quite helpful, as you can preview the changes to the docs, and it also avoids broken documentation builds (which tend to be be very quiet), and in this case, it takes 32 seconds. But up to you. I'm making the PR.

[2022-01-11 21:28] henryiii commented on #559
I see there is a GHA docs build, but you can't preview it, and it doesn't do the 'pre-install' that readthedocs tends to break things with.

[2022-01-11 21:38] dhermes commented on #559
#560 didn't fix it, re-opening

"Running Sphinx v4.3.2" https://readthedocs.org/projects/nox/builds/15742871/ still fails

`html.parser.HTMLParser().unescape` was removed in Python 3.9 IIUC

[2022-01-11 21:46] gaborbernat commented on #557
Do not populate by default. Allow some configuration flag that enables it. The small group who need it can enable the flag.

[2022-01-12 01:21] gschaffner commented on #558
This all makes sense, thanks!

[2022-01-12 01:21] #558 closed

[2022-01-16 01:26] RobertCraigie opened #562 "Specify working directory for a session"
**How would this feature be useful?**

I'm using nox to handle running benchmarks for multiple database clients, each in their own session (for easy parallelization and dependency management). The benchmarks and supporting files for each database client are in their own directory, this means I have to write my sessions like so:

[code]

**Describe the solution you'd like**

[code]

**Describe alte

[2022-01-16 08:24] Tolker-KU commented on #562
The context manager solution is already a feature in Nox. See [the docs](https://nox.thea.codes/en/latest/config.html#nox.sessions.Session.chdir).

It is maybe not as elegant as being able to specify the working directory in the session decorator, but it gets the job done in a more flexible way.

[2022-01-16 17:39] RobertCraigie commented on #562
Ah I didn't know of that solution, thank you :)

I do think the solution I've proposed would still be a nice quality of life improvement.

[2022-01-16 21:40] jwodder opened #563 "Support argcomplete v2.0"
Version 2.0.0 of [argcomplete](https://github.com/kislyuk/argcomplete) is out, yet nox limits the version it depends on to <2.  Please support argcomplete v2.0 so that users can use the latest versions of all involved packages.

[2022-01-20 11:53] thatcr commented on #514
Thank you for this - I have just confirmed that 2022.1.7 fixes the original issue.

More generally - `conda activate` can run arbitrary scripts from `etc/conda/activate.d` so the `PATH` modification isn't a complete solution, but probably works for 99.9% of packages.

Wrapping any calls to `session.run` or `session.install` with `conda run --prefix <prefix> <cmd>` would probably be the right  (cro

[2022-01-20 12:10] Tolker-KU commented on #514
Happy to help 🙂

As far as I know the `conda run` feature is still experimental, so using it in Nox is maybe questionable?

I hope this fix works for (almost) everything as you mentioned. If that is not the case we can reconsider how to solve this.

[2022-01-20 12:53] FollowTheProcess commented on #562
Hi @RobertCraigie, thanks for the idea! The session decorator is probably one of the hardest working things in Nox currently and I think we're hesitant to add further complexity to it, particularly when the requested functionality is available in other ways (the context manager mentioned by @Tolker-KU) which was a great recent addition!

Not to say we'll never do this in the future but it's probab

[2022-01-20 12:53] #562 closed

[2022-01-20 12:56] FollowTheProcess commented on #563
Hi @jwodder thanks for bringing that up. It looks (on a quick scan of the release notes) like the only "breaking" change is dropping support for python 2.7 and 3.5 so I'm sure nox could incorporate this as our minimum python is 3.6 at the moment (potentially soon to be 3.7).

If you want to throw in a PR for this, feel free

[2022-01-20 16:49] #563 closed

[2022-01-22 18:02] cjolowicz commented on #559
The stable docs on RTD still point to an old release (2021.10.1) instead of the latest release, 2022.1.7. The cause for the broken docs build has been fixed on `main`, but we need to rebuild stable on RTD.

The thread at https://github.com/theacodes/nox/pull/561#issuecomment-1011177703 discussed two methods to fix this:

- Push a tag `2022.1.7.post1` to GitHub; or
- Push a `stable` branch and conf

[2022-01-22 18:06] DiddiLeija commented on #559
I'm also +1 with pushing a `2022.1.7.post1` tag, since [we have only changed docs and deps](https://github.com/theacodes/nox/compare/2022.1.7...main).

[2022-01-22 18:07] henryiii commented on #559
There's a third method: just point rtd stable at main, click rebuild, then put it back to releases only.

[2022-01-22 18:09] cjolowicz commented on #559
Also good :)

[2022-01-25 15:12] smarie commented on #514
Great job guys ! Indeed, I had only added the `Scripts` folder originally, it was definitely not complete :(

I like the `conda run --prefix` idea, this is definitely something to follow if the feature becomes official.

[2022-02-01 15:00] cjolowicz commented on #559
Hello all,

Heads up: I'll push the `2022.1.7.post1` tag tomorrow to fix the problem with our docs being outdated.

Please give a shout if you have any objections. I don't have access to Read the Docs, so this is the only viable option right now to get our docs up-to-date.

cc @theacodes @dhermes

OT: pip 22.0 (2022-01-29) officially switched to Nox for automation 🎉

[2022-02-01 15:09] dhermes commented on #559
@cjolowicz Let me just add you to the RTD project

[2022-02-01 15:11] cjolowicz commented on #559
Awesome, thank you @dhermes !

In this case I'll go for the option proposed by @henryiii above, to avoid the extra PyPI release.

[2022-02-01 15:55] cjolowicz commented on #559
Unless I'm missing something, you can't actually point `stable` to the main branch.[^1]

So back to the original plan: Pushing a `2022.1.7.post1` tag tomorrow.

Drop a comment if you have a better idea. Alternatives I've considered:

- Pushing a branch for the version instead of a tag (too hacky?)
- Pushing a `stable` branch (overhead of maintaining an extra long-lived branch)
- Pushing a `stable`

[2022-02-01 16:33] cjolowicz commented on #559
Our CI publishes to PyPI when a tag is pushed:

https://github.com/theacodes/nox/blob/17a6a15c0ea1cc056140f5d37a467477ce05f5a5/.github/workflows/ci.yml#L61-L69

[2022-02-01 22:36] #525 closed

[2022-02-02 14:24] FollowTheProcess commented on #559
@cjolowicz +1 for the post1 release from me

[2022-02-02 14:56] henryiii commented on #559
Make sure it doesn’t include #526 ;)

[2022-02-02 14:58] weatherfrog opened #566 "misleading error "Failed to load Noxfile noxfile.py, no such file exists.""
**Describe the bug**
If a `FileNotFoundError` occurs somewhere on module-level within `noxfile.py`, nox will display a misleading error:
[code]

The problem is here: https://github.com/theacodes/nox/blob/main/nox/tasks.py#L109
This `except` clause is harmful. Something like this would solve the problem:
[code]
Shall I create a PR?

**How to reproduce**
noxfile.py:
[code]

[code]

**Expected behavi

[2022-02-02 17:28] cjolowicz commented on #559
Stable docs are up-to-date now.

[2022.1.7.post1](https://github.com/theacodes/nox/releases/tag/2022.1.7.post1) only includes the two docs fixes that came after 2022.1.7.

Interestingly, the PyPI release did not happen. The version number in `setup.cfg` did not change, so while the tag triggered the deploy job in CI, PyPI rejected the upload with "File already exists". Which is just as well :)

[2022-02-02 17:28] #559 closed

[2022-02-02 17:29] henryiii commented on #559
Haha, nice. :)

[2022-02-03 17:29] FollowTheProcess commented on #566
@weatherfrog Thanks for raising this! I agree the given error is not exactly helpful. PR's are always welcome!

Just thinking about this in more detail, would something like this work for you:

[code]

This could be implemented with something along the lines of:

[code]

This has the added advantages that:

- An upfront check is not done every time the noxfile is loaded (only when the exception is

[2022-02-03 19:37] weatherfrog commented on #566
@FollowTheProcess Thanks for the immediate response. I agree, the upfront check is not great. I like your proposition. The only problem I'm seeing is that you never get to see the stack trace, i.e., you won't know *where* the error occurred. I think I would just go with

[code]

I mean, *other* exceptions are not caught either. So why catch general `FileNotFoundError`s?

But I can live with your v

[2022-02-03 20:12] cjolowicz commented on #566
If the Noxfile cannot be read, the `FileNotFoundError` is raised during the `check_nox_version` call, so *before* we load the Noxfile as a Python module (`_load_and_exec_nox_module`). In fact, all of the `except` clauses relate to exceptions raised before we load the Python module: `FileNotFoundError`, `OSError` (e.g. wrong file permissions), `VersionCheckFailed`, `InvalidVersionSpecifier`.

Would

[2022-02-03 20:23] FollowTheProcess commented on #566
@cjolowicz That's a great idea!

I've just experimented with putting `_load_and_exec_nox_module` in the `else` clause of the `try...except` on @weatherfrog's noxfile and it has the desired effect:

[code]

[2022-02-03 20:40] cjolowicz commented on #566
I'm not familiar with the `importlib.util` API, but what you're describing sounds like those checks should be assertions. Or possibly better omitted entirely? Under which conditions would these checks fail? AFAICS the recipe in the Python library reference omits these checks.

[2022-02-03 20:47] cjolowicz commented on #566
To me, this means that these checks should be omitted.

If there really is an unexpected issue in `importlib.util`, let it crash, don't taper over it. It would be different for *known* bugs, of course.

[2022-02-03 21:06] FollowTheProcess commented on #566
Yeah I think you're right, to be honest the only real reason I put them in originally was to cover off the `None` branch of some of the functions. For example `importlib.util.spec_from_file_location` returns `ModuleSpec | None` but `importlib.util.module_from_spec` requires a `ModuleSpec`.

There's a few more e.g. `spec.loader` returns a `Loader | None` etc. etc. Short of littering it with `# type

[2022-02-03 21:14] cjolowicz commented on #566
Oh I see. So the return types generally allow `None`, but we know that `None` would only be returned in case of a bug. Asserting `is not None` is a good instrument to deal with this. The assertion narrows the type, so mypy can infer that the variable has e.g. type `ModuleSpec` after the assertion.

[2022-02-04 04:17] henryiii commented on #340
GitHub Actions recently removed some old Python versions from the default installs, which caused the nox action to silently no longer include them - but my jobs were "passing" and I had no idea that I was not running anything, even though I was explicitly running one job per line. `nox -s tests-3.6` was passing even though nothing was found. Once I fixed this, I realized I had not been running PyP

[2022-02-04 04:58] henryiii commented on #453
Python 3.9's topological sorter (or a backport package) sounds really useful for something like this! See https://www.youtube.com/watch?v=_O9q3H6mocg for a nice overview.

[2022-02-04 05:06] henryiii commented on #340
Also, quick workaround that doesn't seem to be mentioned yet, but can be implemented at the noxfile level:

[code]

I'd rather not have to add that to dozens of noxfiles, and have to include that in docs and tutorials, but that's a way to improve CI safety for now.

[2022-02-05 03:31] henryiii commented on #340
@theacodes @dhermes @FollowTheProcess @cjolowicz (and anyone else) thoughts here? I would really, really like the error _code_ if at least one matching interpreter is not found (I'm totally fine with exactly the same text printout, I just want the error code so CI doesn't "pass"). And maybe some of the other ideas. But I (almost) always run and recommend one Python process per step or job, so that

[2022-02-05 09:53] FollowTheProcess commented on #340
I've been tripped up by this too, and actually so has Nox itself: https://github.com/theacodes/nox/pull/475.

IMO the average user shouldn't have to care about this which means we can't add pain to local runs whilst doing the correct thing on CI, I think the cleanest way of doing this is checking for the `CI` env variable and making sure local skipped sessions print out a nice helpful warning sayi

[2022-02-05 15:22] henryiii commented on #340
IMO, error codes no not cause the average user to "care". You don't normally even see them on the command line, they do not cause a failure in scripts unless you set an option, etc. Error codes are using when scripting with things like `&&` / `||`, or in CI. I don't think nox's friendly printout should change. I just think there's at least one case were it should return an error code other than 0.

[2022-02-05 15:24] henryiii commented on #340
I'm not "against" the non-interactive solution either, I just know from experience with color that it's a bit finicky. And interactively, error codes don't matter anyway, so I don't really see a point in toggling error codes based on interactivity. `CI` seems more controllable and reliable, that's all.

[2022-02-05 16:27] FollowTheProcess commented on #340
Sorry if I wasn't clear, I wasn't referring to exit codes specifically as impacting users, more so any solution that would cause skipped local missing interpreter sessions to now cause an error for example defaulting `--error-on-missing-interpreters` to True. Or anything that would require them to configure their noxfile in a certain way etc. I didn't want anyone who's skipping sessions locally no

[2022-02-05 16:55] cjolowicz commented on #340
+1 for option 3:

Additionally, it would be good to add the warning described [here](https://github.com/theacodes/nox/issues/340#issuecomment-730508041):

I'm -0.5 for option 1:

- it's a larger breaking change as it affects local runs
- it means that `--[no-]error-on-missing-interpreters` is no longer the single source of truth for what happens if an interpreter is not found.
- option 3 is simple

[2022-02-08 04:03] henryiii commented on #340
Okay, mostly really looking forward to it being solved! If I have a chance to start a PR, I'll drop a note here (unless it's really quick).

[2022-02-08 08:46] FollowTheProcess opened #568 "Bump pre-commit linter versions to latest"
A few of the linters in `.pre-commit-config.yaml` are out of date, bumping them to the latest versions might be a good idea 🙂

[2022-02-08 10:01] FollowTheProcess opened #570 "Consider a `.[dev]` optional extra in `setup.cfg`"
**How would this feature be useful?**

When developing against nox, I like to create a virtual environment and install the project in editable mode with all the linters and formatters etc. so VSCode helps me out with mypy and things like that. Currently I do something along the lines of:

[code]

Some of this probably isn't necessary? But I like to have everything in my environment 🤓

**Describe t

[2022-02-08 15:33] #568 closed

[2022-02-08 22:52] cjolowicz commented on #570
You could achieve the same with a requirements-dev.txt, no? It can reference the others and perform an editable install of Nox. There is no need to change the package metadata this way.

[2022-02-10 08:27] mat-rs opened #572 "Output capturing by session.run()"
**How would this feature be useful?**
I need to handle some git commands during sessions, evaluating their output.
Currently it is possible to capture the output of processes executed by run() by setting silent=True.
However, this is not documented.

**Describe the solution you'd like**
It would be great if capturing output of run() would be made an official documented feature.
It would also be us

[2022-02-13 17:59] #340 closed

[2022-02-15 02:00] ktbarrett commented on #570
I actually like using nox for this.

[code]

Now you can use it.

[code]

or...

[code]

[2022-02-15 02:18] ktbarrett opened #573 "tox-to-nox doesn't handle non-identifier env names"
**Describe the bug**
tox env names can contain dash characters (and potentially other special characters) and tox-to-nox does not handle this well.

**How to reproduce**
Create a simple tox.ini like the one below.

[code]

Run tox-to-nox and check the output.

[code]

**Expected behavior**
For dashes, it's possible to translate the dashes to underscores. Another possibility is to fail, or at least

[2022-02-15 02:25] ktbarrett opened #574 "tox-to-nox: make docstring from testenv description"
**How would this feature be useful?**
Session descriptions are useful for all the reasons they are currently supported by nox.

**Describe the solution you'd like**
It would be nice if tox-to-nox read testenv `description` field and turned it into a nox session docstring.

[2022-02-15 02:34] ktbarrett commented on #573
So tox does allow pretty much any character in an env name. Perhaps it would be a good idea to translate dashes to underscores since it's very common to use them, and complain otherwise.

[2022-02-15 03:14] ktbarrett opened #576 "Add setup.py stub to support editable installs"
**How would this feature be useful?**
Editable installs are very useful for development, but without the presence of a setup.py file `pip` refuses to install the project in editable mode.

**Describe the solution you'd like**
A simple stub for setup.py is sufficient to support editable installs since setup.cfg is used for all project description. See below for an example of what that sub would loo

[2022-02-15 03:22] ktbarrett commented on #572
I have also run into this in the past. I think it should be documented.

[2022-02-15 08:36] FollowTheProcess commented on #576
You don't need a setup.py shim to do editable installs anymore!

Mine works as is:

![image](https://user-images.githubusercontent.com/62767721/154023541-9a6d739b-3469-4fb9-9064-6bc4d3b27ab3.png)

![image](https://user-images.githubusercontent.com/62767721/154023579-dac16e95-18cf-4b55-8022-f409a128ecea.png)

[2022-02-15 08:46] #576 closed

[2022-02-15 08:56] mat-rs commented on #572
Suggestion for https://github.com/theacodes/nox/blob/main/nox/sessions.py#L299
[code]

[2022-02-15 15:32] ktbarrett commented on #572
I'm wondering if this is actually a violation of separation of responsibilities. Perhaps there should be two options, `silent` which doesn't echo stdout, and `capture` which captures the stdout for processing by nox.

[2022-02-15 16:36] mat-rs commented on #572
Good point.
I'm actually not entirely sure why ``run()`` doesn't simply always return the output, independent of ``silent``
It comes down to this line: https://github.com/theacodes/nox/blob/538aa6cae0d838817971064c939acee61eabd555/nox/command.py#L141

However, if the command fails, it raises an exception, so there is never a case where False is returned as far as I can see.

[2022-02-15 18:30] FollowTheProcess commented on #572
Hmm. I'm hesitant to to add both a `capture` and a `silent` option as I think this adds unnecessary complexity (we'd have to handle mutual exclusivity etc.)

I agree we should document that if `silent = True` the command output is returned.

I'm on board with this, however I just spent 5 mins playing around with a local version and it seems if you just use `return output` it still only brings it b

[2022-02-15 18:37] DiddiLeija commented on #572
I agree. Adding a `capture` option will need a lot of discussion, starting with the fact that a lot of complexity would be added, and maybe we don't want that. However, a good paragraph in the docs can help the users.

I'll work on a PR to update the docs ;)

[2022-02-15 19:33] #566 closed

[2022-02-15 19:40] FollowTheProcess commented on #570
@ktbarrett Check out the `dev` session in the [cookbook](https://nox.thea.codes/en/stable/cookbook.html#instant-dev-environment) it's very similar!

Coming back to this. Are we interested in a `requirements-dev.txt`? It's a pretty cheap thing for a small improvement in DX, but not a dealbreaker if not

[2022-02-16 07:24] #573 closed

[2022-02-17 00:27] ktbarrett commented on #572
A quick look at the source code for `popen` shows that it only uses a PIPE for stdout if `silent is True`. Unfortunately I am not aware of TEE or something similar that could both let stdout of the process be printed and also capture it like PIPE does. So I'm not sure this is possible :disappointed:

[2022-02-17 07:38] #574 closed

[2022-02-17 07:48] FollowTheProcess commented on #572
I think we _could_ probably change that and e.g. capture the output by default from `popen` and then anything that calls `popen` can decide whether to show the output or keep it hidden. But I'm not sure the effort is worth the reward? 99% of users will either want to show the output, or capture it and do something with it, not both. As long as users know that setting `silent = True` will capture t

[2022-02-17 07:48] #572 closed

[2022-02-17 09:20] mat-rs commented on #572
Great, thanks guys! :)

[2022-02-22 09:26] cjolowicz opened #579 "Use consistent spelling for Nox in documentation"
Currently, docstrings, option help texts, and rst files use various spellings for Nox and the noxfile.py:

- nox
- Nox
- noxfile
- nox file
- Noxfile

We should make these usages consistent. For Nox itself, the case is already quite clear:

- Nox is spelled with a capital N, as a general rule.
- As an exception to this rule, nox is spelled in lowercase when referring to the executable. (Use sparin

[2022-02-24 18:50] CN-M commented on #579
Hey. I'd like to give this one a shot as my first real contribution to open source.
So if I understand the issue properly:
nox -> Nox // Unless we're talking about the executable
noxfile/nox file -> Noxfile

[2022-02-24 18:59] DiddiLeija commented on #579
Hey @CN-M, thanks for offering!

As far as I know, this is our preferred spelling, at least with "Nox". However, I don't know about the "nox file" - "noxfile" - "Noxfile" spelling preference.

@theacodes Any thoughts about this?

[2022-02-24 21:06] FollowTheProcess commented on #579
Based on the above I think "Noxfile" is fine 🙂

[2022-02-25 04:09] theacodes commented on #579
`Noxfile` is fine, although to be honest it's probably better if we use `noxfile.py` consistently instead.

[2022-02-25 05:22] CN-M commented on #579
I'll just change the `nox` to `Nox` for now until a consensus is made about the `noxfile.py`

Although, the goal here is consistency in spelling and not necessarily to capitalize every instance of `noxfile`, so we could probably go either way as long as we keep consistent with our changes and consistent with how we refer to `noxfile` moving forward.
But I'm the new guy here so I'll get to work on

[2022-02-25 10:20] CN-M commented on #579
Upon interacting with the code and making a few of the spelling changes, I think we should go along with what @theacodes said and use `noxfile.py`. So this is how I'll be implementing the changes so far and you guys will let me know if you want it done differently:
- `nox` to `Nox`.
- `nox` stays `nox` if it's an executable.
- `noxfile.py` stays `noxfile.py`.
- `noxfile` to `Noxfile` outside of th

[2022-02-25 10:48] FollowTheProcess commented on #579
Sounds great to me 👍🏻

[2022-02-28 14:51] henryiii opened #583 "Remove usage of py.path?"
Currently, there is a dependency on `py.path`, which pytest is trying to remove, and it seems like nox should remove it too, now that Python 3 is required (since quite a while, actually). py.path is not recommended for use: https://py.readthedocs.io/en/latest/path.html. This would reduce a dependency, too!

Looking through the usages, I see `py.path.local.sysfind`, which with a little effort could

[2022-02-28 15:20] DiddiLeija commented on #570
I made #582 for adding a `requirements-dev.txt`.

[2022-02-28 16:25] henryiii commented on #583
Would you like me to take a stab at it?

[2022-02-28 16:34] DiddiLeija commented on #583
Sounds good to me :+1:

[2022-02-28 16:39] DiddiLeija commented on #541
I made #580 for doing this. There's already a release that warns about this (`2022.1.7`). So the next one should do this.

[2022-02-28 18:21] FollowTheProcess commented on #583
Great idea! 🎉

[2022-03-01 11:53] #579 closed

[2022-03-01 15:11] #541 closed

[2022-03-02 11:08] #570 closed

[2022-03-04 18:26] RobertCraigie opened #584 "Consider providing a pytest plugin"
**How would this feature be useful?**

I am currently using a custom pytest setup to run integration tests for my project. This finds any `test.sh` scripts and registers them with pytest, this is not ideal to say the least and I am also managing dependencies myself which causes some complexities, I am planning on switching to use nox directly within these scripts but it would be even better if the

[2022-03-04 20:21] cjolowicz commented on #584
I'm not sure I understand why you are using pytest plugins.

From a quick look at your code, I would advise the following:

Place a noxfile.py at the top level of your repository (or your integration test suite). Define two Nox sessions, one for testing, one for type-checking.

The test session has two parts:

1. The session installs the test requirements and your package(s). Merge your test requi

[2022-03-04 21:51] RobertCraigie commented on #584
I use pytest plugins and separate environments for the integration tests as they are testing auto-generated library code, each environment will have different code for the same library meaning they cannot be shared in the same environment.

However, rethinking this, I may be able to merge them into a single environment by auto-generating code to different locations, this should work but would make

[2022-03-07 20:20] DiddiLeija commented on #275
We've already done this at #280, and documented `venv_params` at #283. Thanks @mostealth for doing this!

Closing this out.

[2022-03-08 15:19] henryiii commented on #583
FYI, removing it is really easy, but untangling the monkey patched unittests is not (though I love the test granularity that allows, so not against it, just extra work for this sort of a change). I should be able to finish it up later in the week.

[2022-03-08 20:30] DiddiLeija opened #585 "Provide labels at issue templates?"
**How would this feature be useful?**

Currently, when a user creates an issue, it doesn't has labels. Maybe we can alleviate the maintainer's work by automating the labels addition.

**Describe the solution you'd like**

Add labels to the issue templates: `bug` at the bug template and `enhancement` at the feature request, maybe?

**Describe alternatives you've considered**

If we keep as is, it's

[2022-03-09 14:31] RobertCraigie commented on #584
I decided to use a pytest plugin so that the `test.sh` would be picked up by pytest so that these tests are included in the main workflow. It should be noted that not all `test.sh` scripts call pytest.

Essentially what I would like from this feature is the ability to write nox sessions and have pytest pick them up and run them as a standard test. Heres what the noxfile would look like for the pos

[2022-03-10 08:15] FollowTheProcess commented on #585
I think this could be done (plus some more nice improvements) with the new GitHub issue yaml forms https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms.

I've got them set up on most of my projects and they work great! See some examples [here](https://github.com/FollowTheProcess/pytoil/issues). I also have it set up with [releas